/****** Object:  StoredProcedure [DW_SmartBA].[SP_RPT_SmartBA_Order_Employee_Monthly_New]    Script Date: 2023/6/28 11:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [DW_SmartBA].[SP_RPT_SmartBA_Order_Employee_Monthly_New] @dt [varchar](10) AS
begin
-- ========================================================================================
-- --------------------------------- Change Log -------------------------------------------
-- Date Generated   Updated By     Description
-- ----------------------------------------------------------------------------------------
-- 2021-12-30       wangzhichun        Initial Version
-- 2022-01-27       mac                delete 'COLLATE Chinese_PRC_CS_AI_WS'
-- 2023-03-01       houshuangqiang     change  dw_oms.RPT_Sales_Order_Basic_Level to RPT.RPT_Sales_Order_Basic_Level
-- 2023-04-11       wangzhichun        change  table source
-- 2023-04-25       houshuangqiang     change  [ODS_CRM].[DimStore] to DWD.DIM_Store
-- ========================================================================================
delete from [DW_SmartBA].[RPT_SmartBA_Order_Employee_Monthly_New] where statistic_month=cast(@dt as varchar(7));
insert into [DW_SmartBA].[RPT_SmartBA_Order_Employee_Monthly_New]
select distinct
    cast(@dt as varchar(7)) as statistic_month,
    b.member_card as member_card,
    b.monthly_member_card_grade as monthly_card_grade,
    b.member_monthly_new_status as monthly_new_to_eb_flag,
    case when b.member_channel_monthly_seq = 1 and b.channel_cd in ('BENEFITMINIPROGRAM','ANNYMINIPROGRAM','MINIPROGRAM') then 'NEW' else 'RETURN' end as monthly_new_to_mnp_flag,
    a.employee_code,
    store.store_code,
    store.crm_store_name as store_name ,
    store.crm_region as store_great_region,
    store.crm_area as store_region,
    store.crm_district  as store_district,
    store.crm_city  as store_city,
    current_timestamp as insert_timestamp
from
    [DW_SmartBA].[RPT_SmartBA_Order_Detail] a
left join
(
	select
		sales_order_number,
		monthly_member_card_grade,
		member_card,
		member_monthly_new_status,
		place_month,
		min(channel_order_valid_seq) over (partition by super_id, is_placed, channel_cd, place_month) as member_channel_monthly_seq,
		channel_cd
	from
	(
		select 
				sales_order_number,
				member_monthly_card_grade as monthly_member_card_grade,
				member_card,
				member_monthly_new_status,
				super_id, 
				is_placed,
				format(place_time, 'yyyy-MM') as place_month,
				rank() over (partition by super_id,
								case when (order_status in ('TRADE_FINISHED', N'BUYER_PAID')) and is_placed=1 then 1 else 0 end, sub_channel_code order by place_time) as channel_order_valid_seq,                channel_code as channel_cd
		from
			[RPT].[RPT_Sales_Order_Basic_Level_NEW]
	) so
	where
			so.is_placed = 1
    and
        so.place_month = cast(@dt as varchar(7))
) b
on
    a.sales_order_number = b.sales_order_number
left join
    DWD.DIM_Store store
on
    a.store_code = store.store_code
where
    b.member_card is not null
;
end
GO
