/****** Object:  StoredProcedure [ODS_OMS].[IMP_Sales_Order]    Script Date: 2023/6/28 11:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [ODS_OMS].[IMP_Sales_Order] @dt [VARCHAR](10) AS
BEGIN
delete from ODS_OMS.Sales_Order where dt = @dt;
insert into ODS_OMS.Sales_Order
select 
    sales_order_sys_id,
    r_oms_order_sys_id,
    store_id,
    channel_id,
    member_id,
    member_card,
    r_oms_order_no,
    r_source_order_no,
    convert(varchar(max),HASHBYTES('SHA2_256',order_consumer),2) as order_consumer,
    sales_order_number,
    payment_time,
    order_time,
    order_internal_status,
    r_payment_status,
    payment_status,
    r_order_type,
    r_type,
    type,
    product_total,
    shipping_total,
    need_invoice_flag,
    buyer_comment,
    buyer_memo,
    update_time,
    payed_amount,
    basic_status,
    origin_shipping_fee,
    order_amount,
    r_field4,
    black_card_user_flag,
    platform_flag,
    member_card_grade,
    adjustment_total,
    r_field3,
    packing_box_flag,
    packing_box_price,
    coupon_adjustment_total,
    promotion_adjustment_total,
    seller_delivery_time,
    shipping_type,
    shop_pick,
    end_time,
    create_time,
    order_expected_ware_house,
    version,
    related_order_number,
    times_flag,
    cancel_type,
    sys_create_time,
    sys_update_time,
    super_order_id,
    food_order_flag,
    payable_amount,
    coupon_amount,
    srv_fee,
    platform_adjustment_amount,
    dist_provider,
    dist_type,
    pickup_address,
    hope_arrival_date,
    hope_arrival_time,
    estimate_out_date,
    estimate_out_time,
    verify_code,
    deliver_memo,
    package_no,
    delivery_policy,
    deal_type,
    create_user,
    update_user,
    is_delete,
    deposit_flag,
    shop_id,
    order_consumer_invalid,
    merge_flag,
    ware_house_code, 
    smartba_flag,
    activity_id,
    joint_order_number,
    open_id,
    estimate_con_time,
    parent_order_id,
    direct_parent_order_id,
    jd_split_type,
    activity_type,
    oaid,
    secondary_order_type,
    tmall_decrypt,
    birthday_order_flag,
    split_flag,
    ouid,
    @dt as dt 
from 
    ODS_OMS.WRK_Sales_Order;
truncate table ODS_OMS.WRK_Sales_Order;
END
GO
