/****** Object:  StoredProcedure [ODS_Sensor].[IMP_Events]    Script Date: 2023/6/28 11:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [ODS_Sensor].[IMP_Events] @dt [VARCHAR](10) AS 
BEGIN
delete from ODS_Sensor.Events where dt = @dt;
insert into ODS_Sensor.Events 
select
    [event] COLLATE Chinese_PRC_CS_AI_WS,
	[user_id] ,
	[distinct_id] COLLATE Chinese_PRC_CS_AI_WS,
	[date] ,
	[time] ,
	[$device_id] COLLATE Chinese_PRC_CS_AI_WS,
	[$os_version] COLLATE Chinese_PRC_CS_AI_WS,
	[$carrier] COLLATE Chinese_PRC_CS_AI_WS,
	[$os] COLLATE Chinese_PRC_CS_AI_WS,
	[$is_first_day],
	[$screen_height] ,
	[$screen_width] ,
	[$model] COLLATE Chinese_PRC_CS_AI_WS,
	[$network_type] COLLATE Chinese_PRC_CS_AI_WS,
	[$lib] COLLATE Chinese_PRC_CS_AI_WS,
	[$app_version] COLLATE Chinese_PRC_CS_AI_WS,
	[$manufacturer] COLLATE Chinese_PRC_CS_AI_WS,
	[$wifi],
	[$lib_version] COLLATE Chinese_PRC_CS_AI_WS,
	[$is_first_time],
	[$resume_from_background],
	[$ip] COLLATE Chinese_PRC_CS_AI_WS,
	[$city] COLLATE Chinese_PRC_CS_AI_WS,
	[$province] COLLATE Chinese_PRC_CS_AI_WS,
	[$country] COLLATE Chinese_PRC_CS_AI_WS,
	[$user_agent] COLLATE Chinese_PRC_CS_AI_WS,
	[$browser] COLLATE Chinese_PRC_CS_AI_WS,
	[$screen_name] COLLATE Chinese_PRC_CS_AI_WS,
	[$title] COLLATE Chinese_PRC_CS_AI_WS,
	[$element_content] COLLATE Chinese_PRC_CS_AI_WS,
	[$element_type] COLLATE Chinese_PRC_CS_AI_WS,
	[$event_duration] ,
	[$track_signup_original_id] COLLATE Chinese_PRC_CS_AI_WS,
	[$element_id] COLLATE Chinese_PRC_CS_AI_WS,
	[$element_position] COLLATE Chinese_PRC_CS_AI_WS,
	[$utm_source] COLLATE Chinese_PRC_CS_AI_WS,
	[$utm_campaign] COLLATE Chinese_PRC_CS_AI_WS,
	[$latest_traffic_source_type] COLLATE Chinese_PRC_CS_AI_WS,
	[$latest_referrer] COLLATE Chinese_PRC_CS_AI_WS,
	[$latest_referrer_host] COLLATE Chinese_PRC_CS_AI_WS,
	[$latest_search_keyword] COLLATE Chinese_PRC_CS_AI_WS,
	[$referrer] COLLATE Chinese_PRC_CS_AI_WS,
	[$referrer_host] COLLATE Chinese_PRC_CS_AI_WS,
	[$url] COLLATE Chinese_PRC_CS_AI_WS,
	[$url_path] COLLATE Chinese_PRC_CS_AI_WS,
	[$browser_version] COLLATE Chinese_PRC_CS_AI_WS,
	[$element_class_name] COLLATE Chinese_PRC_CS_AI_WS,
	[$element_target_url] COLLATE Chinese_PRC_CS_AI_WS,
	[$element_selector] COLLATE Chinese_PRC_CS_AI_WS,
	[current_url] COLLATE Chinese_PRC_CS_AI_WS,
	[$viewport_position] ,
	[$viewport_height] ,
	[$viewport_width] ,
	[login_channel] COLLATE Chinese_PRC_CS_AI_WS,
	[if_success],
	[failure_reason] COLLATE Chinese_PRC_CS_AI_WS,
	[sign_up_method] COLLATE Chinese_PRC_CS_AI_WS,
	[is_member_from_store],
	[previous_page_type],
	[loginchannel] COLLATE Chinese_PRC_CS_AI_WS,
	[vip_card] COLLATE Chinese_PRC_CS_AI_WS,
	[vip_card_type] COLLATE Chinese_PRC_CS_AI_WS,
	[if_choose_existing_vip_card],
	[$element_name] COLLATE Chinese_PRC_CS_AI_WS,
	[$latest_utm_source] COLLATE Chinese_PRC_CS_AI_WS,
	[$latest_utm_medium] COLLATE Chinese_PRC_CS_AI_WS,
	[$latest_utm_campaign] COLLATE Chinese_PRC_CS_AI_WS,
	[$latest_utm_content] COLLATE Chinese_PRC_CS_AI_WS,
	[$bot_name] COLLATE Chinese_PRC_CS_AI_WS,
	[$latest_utm_term] COLLATE Chinese_PRC_CS_AI_WS,
	[vip_is_new_pinkcard],
	[$utm_medium] COLLATE Chinese_PRC_CS_AI_WS,
	[previous_page_type_new] COLLATE Chinese_PRC_CS_AI_WS,
	[banner_type] COLLATE Chinese_PRC_CS_AI_WS,
	[banner_content] COLLATE Chinese_PRC_CS_AI_WS,
	[banner_current_url] COLLATE Chinese_PRC_CS_AI_WS,
	[banner_current_page_type] COLLATE Chinese_PRC_CS_AI_WS,
	[banner_belong_area] COLLATE Chinese_PRC_CS_AI_WS,
	[banner_to_url] COLLATE Chinese_PRC_CS_AI_WS,
	[banner_to_page_type] COLLATE Chinese_PRC_CS_AI_WS,
	[banner_ranking] COLLATE Chinese_PRC_CS_AI_WS,
	[campaign_code] COLLATE Chinese_PRC_CS_AI_WS,
	[$utm_content] COLLATE Chinese_PRC_CS_AI_WS,
	[$utm_term] COLLATE Chinese_PRC_CS_AI_WS,
	[referrer] COLLATE Chinese_PRC_CS_AI_WS,
	[a] COLLATE Chinese_PRC_CS_AI_WS,
	[key_word_tpye] COLLATE Chinese_PRC_CS_AI_WS,
	[key_word_tpye_details] COLLATE Chinese_PRC_CS_AI_WS,
	[has_result],
	[commodity_sku] COLLATE Chinese_PRC_CS_AI_WS,
	[op_code] COLLATE Chinese_PRC_CS_AI_WS,
	[color] COLLATE Chinese_PRC_CS_AI_WS,
	[platform_type] COLLATE Chinese_PRC_CS_AI_WS,
	[system_type] COLLATE Chinese_PRC_CS_AI_WS,
	[orderid] COLLATE Chinese_PRC_CS_AI_WS,
	[userid] COLLATE Chinese_PRC_CS_AI_WS,
	[$kafka_offset] ,
	[detail_id] ,
	[$latest_scene] COLLATE Chinese_PRC_CS_AI_WS,
	[$scene] COLLATE Chinese_PRC_CS_AI_WS,
	[$share_depth] ,
	[undefined] COLLATE Chinese_PRC_CS_AI_WS,
	[$url_query] COLLATE Chinese_PRC_CS_AI_WS,
	[$share_distinct_id] COLLATE Chinese_PRC_CS_AI_WS,
	[$share_url_path] COLLATE Chinese_PRC_CS_AI_WS,
	[activityid] COLLATE Chinese_PRC_CS_AI_WS,
	[if_share],
	[is_first_login],
	[environment_type] COLLATE Chinese_PRC_CS_AI_WS,
	[app_crashed_reason] COLLATE Chinese_PRC_CS_AI_WS,
	[key_word_type] COLLATE Chinese_PRC_CS_AI_WS,
	[key_word_type_details] COLLATE Chinese_PRC_CS_AI_WS,
	[_latest_cmpid] COLLATE Chinese_PRC_CS_AI_WS,
	[beauty_article_current_page] COLLATE Chinese_PRC_CS_AI_WS,
	[beauty_article_tag] COLLATE Chinese_PRC_CS_AI_WS,
	[beauty_author_name] COLLATE Chinese_PRC_CS_AI_WS,
	[beauty_author_id] COLLATE Chinese_PRC_CS_AI_WS,
	[beauty_article_id] COLLATE Chinese_PRC_CS_AI_WS,
	[productid] COLLATE Chinese_PRC_CS_AI_WS,
	[enviorment_type],
	[userno] COLLATE Chinese_PRC_CS_AI_WS,
	[beauty_article_product_id] COLLATE Chinese_PRC_CS_AI_WS,
	[beauty_function_current_position] COLLATE Chinese_PRC_CS_AI_WS,
	[beauty_function_operation_type] COLLATE Chinese_PRC_CS_AI_WS,
	[share_method] COLLATE Chinese_PRC_CS_AI_WS,
	[beauty_article_product_name] COLLATE Chinese_PRC_CS_AI_WS,
	[beauty_clicked_product_name] COLLATE Chinese_PRC_CS_AI_WS,
	[beauty_clicked_product_sku] COLLATE Chinese_PRC_CS_AI_WS,
	[beauty_article_title] COLLATE Chinese_PRC_CS_AI_WS,
	[$app_state] COLLATE Chinese_PRC_CS_AI_WS,
	[utm_content] COLLATE Chinese_PRC_CS_AI_WS,
	[$short_url_key] COLLATE Chinese_PRC_CS_AI_WS,
	[$short_url_target] COLLATE Chinese_PRC_CS_AI_WS,
	[$utm_matching_type] COLLATE Chinese_PRC_CS_AI_WS,
	[if_a],
	[button_name] COLLATE Chinese_PRC_CS_AI_WS,
	[page_type_detail] COLLATE Chinese_PRC_CS_AI_WS,
	[_id] COLLATE Chinese_PRC_CS_AI_WS,
	[page_type] COLLATE Chinese_PRC_CS_AI_WS,
	[channelid] COLLATE Chinese_PRC_CS_AI_WS,
	[$receive_time] ,
	[$matched_key] COLLATE Chinese_PRC_CS_AI_WS,
	[log_time_millis] COLLATE Chinese_PRC_CS_AI_WS,
	[key_words] COLLATE Chinese_PRC_CS_AI_WS,
	[brand_id] COLLATE Chinese_PRC_CS_AI_WS,
	[categoryid] COLLATE Chinese_PRC_CS_AI_WS,
	[branden] COLLATE Chinese_PRC_CS_AI_WS,
	[brandstoryen] COLLATE Chinese_PRC_CS_AI_WS,
	[campaign_to_pagetype] COLLATE Chinese_PRC_CS_AI_WS,
	[productcn] COLLATE Chinese_PRC_CS_AI_WS,
	[page_detail] COLLATE Chinese_PRC_CS_AI_WS,
	[brand_cn] COLLATE Chinese_PRC_CS_AI_WS,
	[level] COLLATE Chinese_PRC_CS_AI_WS,
	[message] COLLATE Chinese_PRC_CS_AI_WS,
	[use_client_time],
	[position] COLLATE Chinese_PRC_CS_AI_WS,
	[$browser_language] COLLATE Chinese_PRC_CS_AI_WS,
	[placeholder] COLLATE Chinese_PRC_CS_AI_WS,
	[timestring] COLLATE Chinese_PRC_CS_AI_WS,
	[sensortime] ,
	[key] COLLATE Chinese_PRC_CS_AI_WS,
	[activity_status],
	[url_detail] COLLATE Chinese_PRC_CS_AI_WS,
	[compaign_code] COLLATE Chinese_PRC_CS_AI_WS,
	[activityclick],
	[utm_source_detail] COLLATE Chinese_PRC_CS_AI_WS,
	[utm_medium_detail] COLLATE Chinese_PRC_CS_AI_WS,
	[utm_campaign_detail] COLLATE Chinese_PRC_CS_AI_WS,
	[utm_content_detail] COLLATE Chinese_PRC_CS_AI_WS,
	[utm_term_detail] COLLATE Chinese_PRC_CS_AI_WS,
	[ref_page_type] COLLATE Chinese_PRC_CS_AI_WS,
	[ref_page_type_detail] COLLATE Chinese_PRC_CS_AI_WS,
	[utm_cource_detail] COLLATE Chinese_PRC_CS_AI_WS,
	[topic_name] COLLATE Chinese_PRC_CS_AI_WS,
	[topic_click_position] COLLATE Chinese_PRC_CS_AI_WS,
	[campaign_type] COLLATE Chinese_PRC_CS_AI_WS,
	[msg_status] COLLATE Chinese_PRC_CS_AI_WS,
	[msg_type] COLLATE Chinese_PRC_CS_AI_WS,
	[Live_id] COLLATE Chinese_PRC_CS_AI_WS,
	[utm_id_detail] COLLATE Chinese_PRC_CS_AI_WS,
	[beauty_signin_entrance] COLLATE Chinese_PRC_CS_AI_WS,
	[sku_code] COLLATE Chinese_PRC_CS_AI_WS,
	[source_op_code] COLLATE Chinese_PRC_CS_AI_WS,
	[sharechannel] COLLATE Chinese_PRC_CS_AI_WS,
	[utm_seb_detail] COLLATE Chinese_PRC_CS_AI_WS,
	[sep_utm_campaign] COLLATE Chinese_PRC_CS_AI_WS,
	[sep_utm_source] COLLATE Chinese_PRC_CS_AI_WS,
	[sep_utm_medium] COLLATE Chinese_PRC_CS_AI_WS,
	[sep_utm_content] COLLATE Chinese_PRC_CS_AI_WS,
	[sep_utm_term] COLLATE Chinese_PRC_CS_AI_WS,
	[namevaluepairs] COLLATE Chinese_PRC_CS_AI_WS,
	[$timezone_offset] ,
	[couponid] COLLATE Chinese_PRC_CS_AI_WS,
	[$url_host] COLLATE Chinese_PRC_CS_AI_WS,
	[$app_id] COLLATE Chinese_PRC_CS_AI_WS,
	[$element_path] COLLATE Chinese_PRC_CS_AI_WS,
	[$deeplink_url] COLLATE Chinese_PRC_CS_AI_WS,
	[test_version] COLLATE Chinese_PRC_CS_AI_WS,
	[roomid] COLLATE Chinese_PRC_CS_AI_WS,
	[click_openid] COLLATE Chinese_PRC_CS_AI_WS,
	[success_status] COLLATE Chinese_PRC_CS_AI_WS,
	[room_id] COLLATE Chinese_PRC_CS_AI_WS,
	[share_openid] COLLATE Chinese_PRC_CS_AI_WS,
	[$hdfs_import_batch_name] COLLATE Chinese_PRC_CS_AI_WS,
	[$share_method] COLLATE Chinese_PRC_CS_AI_WS,
	[$latest_share_distinct_id] COLLATE Chinese_PRC_CS_AI_WS,
	[$latest_share_depth] ,
	[$latest_share_url_path] COLLATE Chinese_PRC_CS_AI_WS,
	[$latest_share_method] COLLATE Chinese_PRC_CS_AI_WS,
	[$app_name] COLLATE Chinese_PRC_CS_AI_WS,
	[utm_acid_detail] COLLATE Chinese_PRC_CS_AI_WS,
	[url_path] COLLATE Chinese_PRC_CS_AI_WS,
	[url_query] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_product_name] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_brand_type] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_product_tag] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_product_price] ,
	[ext_product_type] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_order_channel] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_order_platform] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_order_status] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_order_valid],
	[ext_order_type] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_delivery_addr_country] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_delivery_addr_province] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_delivery_addr_city] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_payment_mode] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_gift_card_used],
	[ext_mem_card_used],
	[ext_mem_card_num] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_mem_card_type] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_coupon_name] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_coupon_type] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_coupon_num] ,
	[ext_coupon_code] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_order_amount] ,
	[ext_paid_amount] ,
	[ext_product_brand_name] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_sku_name] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_sku_tag] COLLATE Chinese_PRC_CS_AI_WS,
	[ext_sku_price] ,
	[ext_order_time] ,
	[ext_payment_time] ,
	[new_key_word_type_detail] COLLATE Chinese_PRC_CS_AI_WS,
	[new_key_word_type] COLLATE Chinese_PRC_CS_AI_WS,
	[versionid] COLLATE Chinese_PRC_CS_AI_WS,
	[toprankinglist_name] COLLATE Chinese_PRC_CS_AI_WS,
	[segment_id] COLLATE Chinese_PRC_CS_AI_WS,
    @dt as dt,
    [adhocExperiments] COLLATE Chinese_PRC_CS_AI_WS,
    [page_id],
    [action_id],
    [adhoc_experiments],
    [adhocExperimentsNew],
    baaccount,
    storecode,
    totalamount,
    virtual_key_word,
    virtual_key_word_type,
    virtual_key_word_type_detail,
    virtual_order_price,
    virtual_totalamount,
    store_code,
	skucode
from 
    ODS_Sensor.wrk_events
END
GO
