/****** Object:  StoredProcedure [ODS_OMS_Order].[SP_IMP_OMS_STD_Trade_New]    Script Date: 2023/6/28 11:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [ODS_OMS_Order].[SP_IMP_OMS_STD_Trade_New] AS
BEGIN 

delete ods from ODS_OMS_Order.OMS_STD_Trade ods inner join STG_OMS.OMS_STD_Trade stg on ods.tid = stg.tid;

insert into ODS_OMS_Order.OMS_STD_Trade
select 
		case when trim(tid) in ('','null','None') then null else trim(tid) end as tid,
		case when trim(platform) in ('','null','None') then null else trim(platform) end as platform,
		case when trim(shop_code) in ('','null','None') then null else trim(shop_code) end as shop_code,
		total_fee,
		discount_fee,
		case when trim(pay_no) in ('','null','None') then null else trim(pay_no) end as pay_no,
		payment,
		case when trim(pay_type) in ('','null','None') then null else trim(pay_type) end as pay_type,
		case when trim(pay_status) in ('','null','None') then null else trim(pay_status) end as pay_status,
		post_fee,
		case when trim(receiver_name) in ('','null','None') then null else trim(receiver_name) end as receiver_name,
		case when trim(receiver_country) in ('','null','None') then null else trim(receiver_country) end as receiver_country,
		case when trim(receiver_state) in ('','null','None') then null else trim(receiver_state) end as receiver_state,
		case when trim(receiver_city) in ('','null','None') then null else trim(receiver_city) end as receiver_city,
		case when trim(receiver_district) in ('','null','None') then null else trim(receiver_district) end as receiver_district,
		case when trim(receiver_town) in ('','null','None') then null else trim(receiver_town) end as receiver_town,
		case when trim(receiver_address) in ('','null','None') then null else trim(receiver_address) end as receiver_address,
		case when trim(receiver_zip) in ('','null','None') then null else trim(receiver_zip) end as receiver_zip,
		case when trim(receiver_mobile) in ('','null','None') then null else trim(receiver_mobile) end as receiver_mobile,
		case when trim(receiver_phone) in ('','null','None') then null else trim(receiver_phone) end as receiver_phone,
		case when trim(buyer_email) in ('','null','None') then null else trim(buyer_email) end as buyer_email,
		case when trim(status) in ('','null','None') then null else trim(status) end as status,
		case when trim(type) in ('','null','None') then null else trim(type) end as type,
		case when trim(buyer_nick) in ('','null','None') then null else trim(buyer_nick) end as buyer_nick,
		case when trim(seller_flag) in ('','null','None') then null else trim(seller_flag) end as seller_flag,
		case when trim(seller_memo) in ('','null','None') then null else trim(seller_memo) end as seller_memo,
		case when trim(buyer_message) in ('','null','None') then null else trim(buyer_message) end as buyer_message,
		case when trim(step_trade_status) in ('','null','None') then null else trim(step_trade_status) end as step_trade_status,
		step_paid_fee,
		pay_time,
		created,
		modified,
		is_cod,
		cod_fee,
		created_at,
		updated_at,
		process_status,
		case when trim(bill_no) in ('','null','None') then null else trim(bill_no) end as bill_no,
		case when trim(exception_remark) in ('','null','None') then null else trim(exception_remark) end as exception_remark,
		num,
		download_status,
		trans_to_num,
		case when trim(platform_status) in ('','null','None') then null else trim(platform_status) end as platform_status,
		case when trim(platform_refund_status) in ('','null','None') then null else trim(platform_refund_status) end as platform_refund_status,
		case when trim(platform_risk_status) in ('','null','None') then null else trim(platform_risk_status) end as platform_risk_status,
		case when trim(store_id) in ('','null','None') then null else trim(store_id) end as store_id,
		case when trim(live_activites) in ('','null','None') then null else trim(live_activites) end as live_activites,
		case when trim(delivery_type) in ('','null','None') then null else trim(delivery_type) end as delivery_type,
		case when trim(vip_card_no) in ('','null','None') then null else trim(vip_card_no) end as vip_card_no,
		case when trim(deal_ext_desc) in ('','null','None') then null else trim(deal_ext_desc) end as deal_ext_desc,
		case when trim(ext) in ('','null','None') then null else trim(ext) end as ext,
		case when trim(oaid) in ('','null','None') then null else trim(oaid) end as oaid,
		case when trim(order_ext_type) in ('','null','None') then null else trim(order_ext_type) end as order_ext_type,
		case when trim(distributor_username) in ('','null','None') then null else trim(distributor_username) end as distributor_username,
		buyer_payment,
		case when trim(ten_thousand_group_buy_taobao) in ('','null','None') then null else trim(ten_thousand_group_buy_taobao) end as ten_thousand_group_buy_taobao,
		case when trim(seller1_shop) in ('','null','None') then null else trim(seller1_shop) end as seller1_shop,
		case when trim(seller1) in ('','null','None') then null else trim(seller1) end as seller1,
		case when trim(live_shop) in ('','null','None') then null else trim(live_shop) end as live_shop,
		case when trim(live_id) in ('','null','None') then null else trim(live_id) end as live_id,
		fx_type,
		case when trim(o_vip_card_no) in ('','null','None') then null else trim(o_vip_card_no) end as o_vip_card_no,
		case when trim(seller_shop) in ('','null','None') then null else trim(seller_shop) end as seller_shop,
		case when trim(seller) in ('','null','None') then null else trim(seller) end as seller,
		order_channel_id,
		case when trim(order_biz_source_id) in ('','null','None') then null else trim(order_biz_source_id) end as order_biz_source_id,
		flow_channel,
		case when trim(order_bizsource_id) in ('','null','None') then null else trim(order_bizsource_id) end as order_bizsource_id,
		case when trim(trade_from) in ('','null','None') then null else trim(trade_from) end as trade_from,
		case when trim(buyer_tel) in ('','null','None') then null else trim(buyer_tel) end as buyer_tel,
		case when trim(shop_id) in ('','null','None') then null else trim(shop_id) end as shop_id,
		case when trim(is_store_delivery) in ('','null','None') then null else trim(is_store_delivery) end as is_store_delivery,
		case when trim(merged_code) in ('','null','None') then null else trim(merged_code) end as merged_code,
		case when trim(self_lifting_code) in ('','null','None') then null else trim(self_lifting_code) end as self_lifting_code,
		case when trim(site_id) in ('','null','None') then null else trim(site_id) end as site_id,
		case when trim(cons_Mobile_Phone_Fuzzy) in ('','null','None') then null else trim(cons_Mobile_Phone_Fuzzy) end as cons_Mobile_Phone_Fuzzy,
		case when trim(private_Guider_No) in ('','null','None') then null else trim(private_Guider_No) end as private_Guider_No,
		case when trim(private_Guider_Name) in ('','null','None') then null else trim(private_Guider_Name) end as private_Guider_Name,
		case when trim(store_number) in ('','null','None') then null else trim(store_number) end as store_number,
		case when trim(verify_status) in ('','null','None') then null else trim(verify_status) end as verify_status,
		case when trim(logistics_status) in ('','null','None') then null else trim(logistics_status) end as logistics_status,
		case when trim(merge_no) in ('','null','None') then null else trim(merge_no) end as merge_no,
		case when trim(es_date) in ('','null','None') then null else trim(es_date) end as es_date,
		case when trim(dispatcher_mobile) in ('','null','None') then null else trim(dispatcher_mobile) end as dispatcher_mobile,
		case when trim(dispatcher_name) in ('','null','None') then null else trim(dispatcher_name) end as dispatcher_name,
		data_create_time,
		data_update_time,
		is_check_blacklist,
		abolish_reason,
		stock_version,
		is_promotion,
		case when trim(promotion_no) in ('','null','None') then null else trim(promotion_no) end as promotion_no,
		case when trim(customer_id) in ('','null','None') then null else trim(customer_id) end as customer_id,
		case when trim(channel_id) in ('','null','None') then null else trim(channel_id) end as channel_id,
		case when trim(user_group) in ('','null','None') then null else trim(user_group) end as user_group,
		case when trim(delivery_time) in ('','null','None') then null else trim(delivery_time) end as delivery_time,
		case when trim(is_crm) in ('','null','None') then null else trim(is_crm) end as is_crm,
		case when trim(is_black_card) in ('','null','None') then null else trim(is_black_card) end as is_black_card,
		case when trim(is_black_pack) in ('','null','None') then null else trim(is_black_pack) end as is_black_pack,
		case when trim(order_transfer_status) in ('','null','None') then null else trim(order_transfer_status) end as order_transfer_status,
		case when trim(parent_order_id) in ('','null','None') then null else trim(parent_order_id) end as parent_order_id,
		case when trim(store_order) in ('','null','None') then null else trim(store_order) end as store_order,
		deposit,
		case when trim(activity_type) in ('','null','None') then null else trim(activity_type) end as activity_type,
		case when trim(activity_id) in ('','null','None') then null else trim(activity_id) end as activity_id,
		case when trim(smart_BA_flag) in ('','null','None') then null else trim(smart_BA_flag) end as smart_BA_flag,
		business_type,
		case when trim(cancel_reason) in ('','null','None') then null else trim(cancel_reason) end as cancel_reason,
		case when trim(is_encrypt) in ('','null','None') then null else trim(is_encrypt) end as is_encrypt,
		case when trim(is_invoice) in ('','null','None') then null else trim(is_invoice) end as is_invoice,
		case when trim(is_receipt) in ('','null','None') then null else trim(is_receipt) end as is_receipt,
		super_order_id,
		is_plit,
		case when trim(activity_session) in ('','null','None') then null else trim(activity_session) end as activity_session,
		presales_date,
		case when trim(buyer_open_uid) in ('','null','None') then null else trim(buyer_open_uid) end as buyer_open_uid,
		is_failed_decryption,
		case when trim(is_need_invoice) in ('','null','None') then null else trim(is_need_invoice) end as is_need_invoice,
		case when trim(member_level_name) in ('','null','None') then null else trim(member_level_name) end as member_level_name,
		case when trim(front_shop_code) in ('','null','None') then null else trim(front_shop_code) end as front_shop_code,
		case when trim(front_order_type) in ('','null','None') then null else trim(front_order_type) end as front_order_type,
		case when trim(direct_parent_order_id) in ('','null','None') then null else trim(direct_parent_order_id) end as direct_parent_order_id,
		merchant_discount_fee,
		other_discount_fee,
		platform_discount_fee,
		meet_post_fee,
		service_fee,
		entry_amount,
		case when trim(origin_tid) in ('','null','None') then null else trim(origin_tid) end as origin_tid,
		pay_subsidies_fee,
		is_greeting,
		case when trim(greeting) in ('','null','None') then null else trim(greeting) end as greeting,
		case when trim(encrypt_post_receiver) in ('','null','None') then null else trim(encrypt_post_receiver) end as encrypt_post_receiver,
		case when trim(encrypt_post_tel) in ('','null','None') then null else trim(encrypt_post_tel) end as encrypt_post_tel,
		case when trim(encrypt_detail) in ('','null','None') then null else trim(encrypt_detail) end as encrypt_detail,
		case when trim(ouid) in ('','null','None') then null else trim(ouid) end as ouid,
		is_sync,
		dt
from  STG_OMS.OMS_STD_Trade
END;
GO
