/****** Object:  StoredProcedure [ODS_CRM].[USP_CRM_DimAccount_Encrypt]    Script Date: 2023/6/28 11:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [ODS_CRM].[USP_CRM_DimAccount_Encrypt] AS

if(
	(select count(1)
	from STG_CRM.ETL_LOG
	WHERE Table_Name = N'DimAccount_Stg' AND convert(date,Insert_Time) = convert(date,dateadd(hh,8,getdate()))
	and ETL_Flag = 1 and (Processed_Flag is null or Processed_Flag = 0)) > 0)
begin
	update [ODS_CRM].[DimAccount]
	set 
	[account_number] = b.[account_number]
	,[account_status]  = b.[account_status]
	,[member_status]= b.[member_status]
	,[card_type]= b.[card_type]
	,[segmentation]= b.[segmentation]
	,[gender]= b.[gender]
	,[valid_DM]= b.[valid_DM]
	,[valid_EDM]= b.[valid_EDM]
	,[valid_SMS]= b.[valid_SMS]
	,[valid_MMS]= b.[valid_MMS]
	,[contactability]= b.[contactability]
	,[foreigner]= b.[foreigner]
	,[black_upgrade_channel]= b.[black_upgrade_channel]
	,[activation_channel]= b.[activation_channel]
	,[update_info_channel]= b.[update_info_channel]
	,[has_purchase_online]= b.[has_purchase_online]
	,[has_purchase_offline]= b.[has_purchase_offline]
	,[first_purchase_amount]= b.[first_purchase_amount]
	,[register_source]= b.[register_source]
	,[prefer_store]= b.[prefer_store]
	,[register_store]= b.[register_store]
	,[living_city]= b.[living_city]
	,[activation_date]= b.[activation_date]
	,[upgrade_date_gold]= b.[upgrade_date_gold]
	,[upgrade_date_black]= b.[upgrade_date_black]
	,[birth_date]= b.[birth_date]
	,[first_purchase_date]= b.[first_purchase_date]
	,[last_purchase_date]= b.[last_purchase_date]
	,[recruitment_date]= b.[recruitment_date]
	,[total_receipts]= b.[total_receipts]
	,[total_transactions]= b.[total_transactions]
	,[interval]= b.[interval]
	,[prefer_store_code]= b.[prefer_store_code]
	,[register_store_code]= b.[register_store_code]
	,[mobile]= b.[mobile]
	,[coupon9_qtys]= b.[coupon9_qtys]
	,[coupon9_to_date]= b.[coupon9_to_date]
	,[full_name]= b.[full_name]
	,[prefer_city]= b.[prefer_city]
	,[wechat_member]= b.[wechat_member]
	,[upgrade_date_white]= b.[upgrade_date_white]
	,[account_balance]= b.[account_balance]
	,[is_employee]= b.[is_employee]
	,[pin_yin]= b.[pin_yin]
	,[phone]= b.[phone]
	,[email_address]= b.[email_address]
	,[post_code]= b.[post_code]
	,[province_name]= b.[province_name]
	,[city_name]= b.[city_name]
	,[address]= b.[address]
	,[address_validate]= b.[address_validate]
	,[single_pink_card_validate_type]= b.[single_pink_card_validate_type]
	,[process_time]= b.[process_time]
	from [STG_CRM].[DimAccount_Stg] b
	where [ODS_CRM].[DimAccount].[account_id] = b.[account_id]

	insert [ODS_CRM].[DimAccount]
	(
	[account_id]
	,[account_number]
	,[account_status]
	,[member_status]
	,[card_type]
	,[segmentation]
	,[gender]
	,[valid_DM]
	,[valid_EDM]
	,[valid_SMS]
	,[valid_MMS]
	,[contactability]
	,[foreigner]
	,[black_upgrade_channel]
	,[activation_channel]
	,[update_info_channel]
	,[has_purchase_online]
	,[has_purchase_offline]
	,[first_purchase_amount]
	,[register_source]
	,[prefer_store]
	,[register_store]
	,[living_city]
	,[activation_date]
	,[upgrade_date_gold]
	,[upgrade_date_black]
	,[birth_date]
	,[first_purchase_date]
	,[last_purchase_date]
	,[recruitment_date]
	,[total_receipts]
	,[total_transactions]
	,[interval]
	,[prefer_store_code]
	,[register_store_code]
	,[mobile]
	,[coupon9_qtys]
	,[coupon9_to_date]
	,[full_name]
	,[prefer_city]
	,[wechat_member]
	,[upgrade_date_white]
	,[account_balance]
	,[is_employee]
	,[pin_yin]
	,[phone]
	,[email_address]
	,[post_code]
	,[province_name]
	,[city_name]
	,[address]
	,[address_validate]
	,[single_pink_card_validate_type]
	,[process_time]
	)
	SELECT 
	[account_id]
	,[account_number]
	,[account_status]
	,[member_status]
	,[card_type]
	,[segmentation]
	,[gender]
	,[valid_DM]
	,[valid_EDM]
	,[valid_SMS]
	,[valid_MMS]
	,[contactability]
	,[foreigner]
	,[black_upgrade_channel]
	,[activation_channel]
	,[update_info_channel]
	,[has_purchase_online]
	,[has_purchase_offline]
	,[first_purchase_amount]
	,[register_source]
	,[prefer_store]
	,[register_store]
	,[living_city]
	,[activation_date]
	,[upgrade_date_gold]
	,[upgrade_date_black]
	,[birth_date]
	,[first_purchase_date]
	,[last_purchase_date]
	,[recruitment_date]
	,[total_receipts]
	,[total_transactions]
	,[interval]
	,[prefer_store_code]
	,[register_store_code]
	,[mobile]
	,[coupon9_qtys]
	,[coupon9_to_date]
	,[full_name]
	,[prefer_city]
	,[wechat_member]
	,[upgrade_date_white]
	,[account_balance]
	,[is_employee]
	,[pin_yin]
	,[phone]
	,[email_address]
	,[post_code]
	,[province_name]
	,[city_name]
	,[address]
	,[address_validate]
	,[single_pink_card_validate_type]
	,[process_time]
	
	  FROM [STG_CRM].[DimAccount_Stg] a
	where not exists(select 1 from [ODS_CRM].[DimAccount] b where a.[account_id] = b.[account_id])

	update STG_CRM.ETL_LOG
	set Processed_Flag =1
	WHERE Table_Name = N'DimAccount_Stg' AND convert(date,Insert_Time) = convert(date,dateadd(hh,8,getdate()))
	and ETL_Flag = 1 and (Processed_Flag is null or Processed_Flag = 0)
end
GO
