/****** Object:  StoredProcedure [STG_IMS].[TRANS_BAS_Channel]    Script Date: 2023/6/28 11:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [STG_IMS].[TRANS_BAS_Channel] @dt [VARCHAR](10) AS
BEGIN 
-- ========================================================================================
-- --------------------------------- Change Log -------------------------------------------
-- Date Generated   Updated By            Description
-- ----------------------------------------------------------------------------------------
-- 2022-09-15       wangzhichun           Initial Version
-- 2022-09-28       wubin                 update data_create_time/data_update_time\
-- 2022-12-15       wangzhichun           change schema
-- ========================================================================================
truncate table STG_IMS.Bas_Channel;
insert into STG_IMS.Bas_Channel
select 
		id,
		parentchannelid,
		case when trim(shape) in ('', 'null', 'None') then null else trim(shape) end as shape,
		case when trim(status) in ('', 'null', 'None') then null else trim(status) end as status,
		case when trim(disableby) in ('', 'null', 'None') then null else trim(disableby) end as disableby,
		createdate,
		case when trim(modifyby) in ('', 'null', 'None') then null else trim(modifyby) end as modifyby,
		stockchannelid,
		case when trim(organizationtype) in ('', 'null', 'None') then null else trim(organizationtype) end as organizationtype,
		modifydate,
		case when trim(name) in ('', 'null', 'None') then null else trim(name) end as name,
		settlechannelid,
		parentcorporationid,
		case when trim(accountingorganization) in ('', 'null', 'None') then null else trim(accountingorganization) end as accountingorganization,
		case when trim(code) in ('', 'null', 'None') then null else trim(code) end as code,
		disabledate,
		createchannelid,
		case when trim(createby) in ('', 'null', 'None') then null else trim(createby) end as createby,
		case when trim(businessorganization) in ('', 'null', 'None') then null else trim(businessorganization) end as businessorganization,
		enabledate,
		accountchannelid,
		case when trim(enableby) in ('', 'null', 'None') then null else trim(enableby) end as enableby,
		case when trim(remark) in ('', 'null', 'None') then null else trim(remark) end as remark,
		case when trim(functionpart) in ('', 'null', 'None') then null else trim(functionpart) end as functionpart,
		currencytypeid,
		taxrate,
		subjectid,
		standardcurrencyid,
		case when trim(parentcode) in ('', 'null', 'None') then null else trim(parentcode) end as parentcode,
		case when trim(fullcode) in ('', 'null', 'None') then null else trim(fullcode) end as fullcode,
		case when trim(insidecode) in ('', 'null', 'None') then null else trim(insidecode) end as insidecode,
		case when trim(type) in ('', 'null', 'None') then null else trim(type) end as type,
		importdate,
		case when trim(creditmanage) in ('', 'null', 'None') then null else trim(creditmanage) end as creditmanage,
		case when trim(shop_sort_id) in ('', 'null', 'None') then null else trim(shop_sort_id) end as shop_sort_id,
		case when trim(plat_form) in ('', 'null', 'None') then null else trim(plat_form) end as plat_form,
		case when trim(shop_property) in ('', 'null', 'None') then null else trim(shop_property) end as shop_property,
		case when trim(plat_form_id) in ('', 'null', 'None') then null else trim(plat_form_id) end as plat_form_id,
		warehouse_id,
		area_id,
		theweight,
		returnquota,
		case when trim(managed_type) in ('', 'null', 'None') then null else trim(managed_type) end as managed_type,
		express_strategy_id,
		case when trim(express_strategy_name) in ('', 'null', 'None') then null else trim(express_strategy_name) end as express_strategy_name,
		case when trim(express_strategy_code) in ('', 'null', 'None') then null else trim(express_strategy_code) end as express_strategy_code,
		case when trim(app_key) in ('', 'null', 'None') then null else trim(app_key) end as app_key,
		case when trim(app_secret) in ('', 'null', 'None') then null else trim(app_secret) end as app_secret,
		case when trim(access_token) in ('', 'null', 'None') then null else trim(access_token) end as access_token,
		case when trim(app_nick) in ('', 'null', 'None') then null else trim(app_nick) end as app_nick,
		case when trim(app_url) in ('', 'null', 'None') then null else trim(app_url) end as app_url,
		case when trim(refresh_token) in ('', 'null', 'None') then null else trim(refresh_token) end as refresh_token,
		case when trim(app_session) in ('', 'null', 'None') then null else trim(app_session) end as app_session,
		case when trim(random_number) in ('', 'null', 'None') then null else trim(random_number) end as random_number,
		case when trim(vendor_id) in ('', 'null', 'None') then null else trim(vendor_id) end as vendor_id,
		owner_id,
		case when trim(cooperation_no) in ('', 'null', 'None') then null else trim(cooperation_no) end as cooperation_no,
		case when trim(comode) in ('', 'null', 'None') then null else trim(comode) end as comode,
		case when trim(shop_type) in ('', 'null', 'None') then null else trim(shop_type) end as shop_type,
		case when trim(settle_property) in ('', 'null', 'None') then null else trim(settle_property) end as settle_property,
		brand_id,
		case when trim(oms_call_url) in ('', 'null', 'None') then null else trim(oms_call_url) end as oms_call_url,
		omsinfo_id,
		case when trim(zip) in ('', 'null', 'None') then null else trim(zip) end as zip,
		city_id,
		case when trim(email) in ('', 'null', 'None') then null else trim(email) end as email,
		district_id,
		case when trim(link_man) in ('', 'null', 'None') then null else trim(link_man) end as link_man,
		admin_stration_area_id,
		country_id,
		amount_precision,
		unit_price_precision,
		case when trim(address) in ('', 'null', 'None') then null else trim(address) end as address,
		case when trim(tel) in ('', 'null', 'None') then null else trim(tel) end as tel,
		province_id,
		case when trim(fax) in ('', 'null', 'None') then null else trim(fax) end as fax,
		case when trim(website) in ('', 'null', 'None') then null else trim(website) end as website,
		case when trim(mobile) in ('', 'null', 'None') then null else trim(mobile) end as mobile,
		usable_honor_position,
		lock_honor_postion,
		case when trim(custom_type) in ('', 'null', 'None') then null else trim(custom_type) end as custom_type,
		case when trim(ware_house_code) in ('', 'null', 'None') then null else trim(ware_house_code) end as ware_house_code,
		case when trim(is_stock_synchro) in ('', 'null', 'None') then null else trim(is_stock_synchro) end as is_stock_synchro,
		case when trim(business_type) in ('', 'null', 'None') then null else trim(business_type) end as business_type,
		case when trim(business_value) in ('', 'null', 'None') then null else trim(business_value) end as business_value,
		case when trim(owner_customer) in ('', 'null', 'None') then null else trim(owner_customer) end as owner_customer,
		case when trim(return_type) in ('', 'null', 'None') then null else trim(return_type) end as return_type,
		return_rate,
		relation_shop_id,
		case when trim(plat_form_code) in ('', 'null', 'None') then null else trim(plat_form_code) end as plat_form_code,
		case when trim(brand_type) in ('', 'null', 'None') then null else trim(brand_type) end as brand_type,
		case when trim(brand_name) in ('', 'null', 'None') then null else trim(brand_name) end as brand_name,
		case when trim(operation_platform) in ('', 'null', 'None') then null else trim(operation_platform) end as operation_platform,
		case when trim(contrast_code) in ('', 'null', 'None') then null else trim(contrast_code) end as contrast_code,
		business_owner,
		case when trim(cash_type) in ('', 'null', 'None') then null else trim(cash_type) end as cash_type,
		case when trim(region_attribute) in ('', 'null', 'None') then null else trim(region_attribute) end as region_attribute,
		case when trim(taxpayer_code) in ('', 'null', 'None') then null else trim(taxpayer_code) end as taxpayer_code,
		taxpayer_type,
		openshop_time,
		estimated_closeshop_time,
		closeshop_time,
		shop_type_id,
		case when trim(is_market_settlement) in ('', 'null', 'None') then null else trim(is_market_settlement) end as is_market_settlement,
		settlement_date,
		case when trim(settlement_status) in ('', 'null', 'None') then null else trim(settlement_status) end as settlement_status,
		case when trim(order_section_return) in ('', 'null', 'None') then null else trim(order_section_return) end as order_section_return,
		case when trim(order_refund_set_status) in ('', 'null', 'None') then null else trim(order_refund_set_status) end as order_refund_set_status,
		case when trim(order_refund_automatic_status) in ('', 'null', 'None') then null else trim(order_refund_automatic_status) end as order_refund_automatic_status,
		case when trim(order_refund_apply_status) in ('', 'null', 'None') then null else trim(order_refund_apply_status) end as order_refund_apply_status,
		case when trim(automatic_exchange_goods_status) in ('', 'null', 'None') then null else trim(automatic_exchange_goods_status) end as automatic_exchange_goods_status,
		case when trim(inventory_model) in ('', 'null', 'None') then null else trim(inventory_model) end as inventory_model,
		case when trim(online_business) in ('', 'null', 'None') then null else trim(online_business) end as online_business,
		case when trim(business_date) in ('', 'null', 'None') then null else trim(business_date) end as business_date,
		operation_nature_code,
		case when trim(agent_settlement) in ('', 'null', 'None') then null else trim(agent_settlement) end as agent_settlement,
		settlement_ratio,
		case when trim(shop_costprice_source) in ('', 'null', 'None') then null else trim(shop_costprice_source) end as shop_costprice_source,
		agreement_id,
		timeout_order_time,
		latitude,
		longitude,
		case when trim(jdwms_isv_source) in ('', 'null', 'None') then null else trim(jdwms_isv_source) end as jdwms_isv_source,
		case when trim(jdwms_shopno) in ('', 'null', 'None') then null else trim(jdwms_shopno) end as jdwms_shopno,
		account_top,
		account_bottom,
		case when trim(return_warehouse_rule) in ('', 'null', 'None') then null else trim(return_warehouse_rule) end as return_warehouse_rule,
		case when trim(plat_form_account) in ('', 'null', 'None') then null else trim(plat_form_account) end as plat_form_account,
		case when trim(brand_code) in ('', 'null', 'None') then null else trim(brand_code) end as brand_code,
		case when trim(part_refund_identify_promotion) in ('', 'null', 'None') then null else trim(part_refund_identify_promotion) end as part_refund_identify_promotion,
		case when trim(is_financial_reconciliation) in ('', 'null', 'None') then null else trim(is_financial_reconciliation) end as is_financial_reconciliation,
		cost_center_id,
		cost_organization_id,
		case when trim(project) in ('', 'null', 'None') then null else trim(project) end as project,
		account_period,
		account_period_amount,
		case when trim(device_info) in ('', 'null', 'None') then null else trim(device_info) end as device_info,
		data_create_time,
		data_update_time,
		current_timestamp as insert_timestamp
from
    ODS_IMS.BAS_Channel
where
    dt = @dt
END

GO
