/****** Object:  StoredProcedure [STG_Promotion].[TRANS_Promotion_Log]    Script Date: 2023/6/28 11:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [STG_Promotion].[TRANS_Promotion_Log] AS
BEGIN
truncate table STG_Promotion.Promotion_Log;
insert into STG_Promotion.Promotion_Log
select 
    promotion_log_sys_id,
    case when trim(method) in ('null','') then null else trim(method) end as method,
    case when trim(request) in ('null','') then null else trim(request) end as request,
    case when trim(response) in ('null','') then null else trim(response) end as response,
    create_time,
    update_time,
    use_time,
    case when trim(class_name) in ('null','') then null else trim(class_name) end as class_name,
    case when trim(create_user) in ('null','') then null else trim(create_user) end as create_user,
    case when trim(update_user) in ('null','') then null else trim(update_user) end as update_user,
    is_delete,
    current_timestamp as insert_timestamp
from 
(
    select *, row_number() over(partition by promotion_log_sys_id order by dt desc) rownum from ODS_Promotion.Promotion_Log
) t
where rownum = 1;
END
GO
