/****** Object:  StoredProcedure [STG_IMS].[TRANS_GDS_Btsinglprodu_STG]    Script Date: 2023/6/28 11:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [STG_IMS].[TRANS_GDS_Btsinglprodu_STG] @dt [VARCHAR](10) AS
BEGIN 
-- ========================================================================================
-- --------------------------------- Change Log -------------------------------------------
-- Date Generated   Updated By     Description
-- ----------------------------------------------------------------------------------------
-- 2022-12-21       houshuangqiang           Initial Version
-- ========================================================================================
truncate table STG_IMS.GDS_Btsinglprodu_STG;
insert into STG_IMS.GDS_Btsinglprodu_STG
select 
		id,
		case when trim(code) in ('','null','None') then null else trim(code) end as code,
		case when trim(name) in ('','null','None') then null else trim(name) end as name,
		case when trim(path) in ('','null','None') then null else trim(path) end as path,
		chargeunit_id,
		auxiliaryunit_id,
		auxiliaryunitval,
		case when trim(contrast_code) in ('','null','None') then null else trim(contrast_code) end as contrast_code,
		case when trim(can_return) in ('','null','None') then null else trim(can_return) end as can_return,
		case when trim(goods_code) in ('','null','None') then null else trim(goods_code) end as goods_code,
		create_channel_id,
		case when trim(valution_method) in ('','null','None') then null else trim(valution_method) end as valution_method,
		case when trim(status) in ('','null','None') then null else trim(status) end as status,
		brand_id,
		goods_id,
		spec1,
		spec2,
		spec3,
		spec4,
		spec5,
		case when trim(is_tour) in ('','null','None') then null else trim(is_tour) end as is_tour,
		case when trim(is_print_label) in ('','null','None') then null else trim(is_print_label) end as is_print_label,
		case when trim(category_tree_node_id) in ('','null','None') then null else trim(category_tree_node_id) end as category_tree_node_id,
		lable_price,
		case when trim(related_order_bill_no) in ('','null','None') then null else trim(related_order_bill_no) end as related_order_bill_no,
		case when trim(change_price_attr) in ('','null','None') then null else trim(change_price_attr) end as change_price_attr,
		case when trim(is_agent_purchase) in ('','null','None') then null else trim(is_agent_purchase) end as is_agent_purchase,
		category_tree_id,
		case when trim(create_by) in ('','null','None') then null else trim(create_by) end as create_by,
		create_time,
		case when trim(modify_by) in ('','null','None') then null else trim(modify_by) end as modify_by,
		modify_time,
		case when trim(disable_by) in ('','null','None') then null else trim(disable_by) end as disable_by,
		disable_time,
		case when trim(enable_by) in ('','null','None') then null else trim(enable_by) end as enable_by,
		enable_time,
		case when trim(field_1) in ('','null','None') then null else trim(field_1) end as field_1,
		case when trim(field_2) in ('','null','None') then null else trim(field_2) end as field_2,
		case when trim(field_3) in ('','null','None') then null else trim(field_3) end as field_3,
		case when trim(field_4) in ('','null','None') then null else trim(field_4) end as field_4,
		case when trim(field_5) in ('','null','None') then null else trim(field_5) end as field_5,
		case when trim(field_6) in ('','null','None') then null else trim(field_6) end as field_6,
		case when trim(field_7) in ('','null','None') then null else trim(field_7) end as field_7,
		case when trim(field_8) in ('','null','None') then null else trim(field_8) end as field_8,
		case when trim(field_9) in ('','null','None') then null else trim(field_9) end as field_9,
		case when trim(field_10) in ('','null','None') then null else trim(field_10) end as field_10,
		case when trim(field_11) in ('','null','None') then null else trim(field_11) end as field_11,
		case when trim(field_12) in ('','null','None') then null else trim(field_12) end as field_12,
		case when trim(field_13) in ('','null','None') then null else trim(field_13) end as field_13,
		case when trim(field_14) in ('','null','None') then null else trim(field_14) end as field_14,
		case when trim(field_15) in ('','null','None') then null else trim(field_15) end as field_15,
		case when trim(field_16) in ('','null','None') then null else trim(field_16) end as field_16,
		case when trim(field_17) in ('','null','None') then null else trim(field_17) end as field_17,
		case when trim(field_18) in ('','null','None') then null else trim(field_18) end as field_18,
		case when trim(field_19) in ('','null','None') then null else trim(field_19) end as field_19,
		case when trim(field_20) in ('','null','None') then null else trim(field_20) end as field_20,
		case when trim(field_21) in ('','null','None') then null else trim(field_21) end as field_21,
		case when trim(field_22) in ('','null','None') then null else trim(field_22) end as field_22,
		case when trim(field_23) in ('','null','None') then null else trim(field_23) end as field_23,
		case when trim(field_24) in ('','null','None') then null else trim(field_24) end as field_24,
		case when trim(field_25) in ('','null','None') then null else trim(field_25) end as field_25,
		case when trim(field_26) in ('','null','None') then null else trim(field_26) end as field_26,
		case when trim(field_27) in ('','null','None') then null else trim(field_27) end as field_27,
		case when trim(field_28) in ('','null','None') then null else trim(field_28) end as field_28,
		case when trim(field_29) in ('','null','None') then null else trim(field_29) end as field_29,
		case when trim(field_30) in ('','null','None') then null else trim(field_30) end as field_30,
		case when trim(field_31) in ('','null','None') then null else trim(field_31) end as field_31,
		case when trim(field_32) in ('','null','None') then null else trim(field_32) end as field_32,
		case when trim(field_33) in ('','null','None') then null else trim(field_33) end as field_33,
		case when trim(field_34) in ('','null','None') then null else trim(field_34) end as field_34,
		case when trim(field_35) in ('','null','None') then null else trim(field_35) end as field_35,
		case when trim(field_36) in ('','null','None') then null else trim(field_36) end as field_36,
		case when trim(field_37) in ('','null','None') then null else trim(field_37) end as field_37,
		case when trim(field_38) in ('','null','None') then null else trim(field_38) end as field_38,
		case when trim(field_39) in ('','null','None') then null else trim(field_39) end as field_39,
		case when trim(field_40) in ('','null','None') then null else trim(field_40) end as field_40,
		market_price,
		cost_price,
		base_unit_id,
		default_supplier_id,
		case when trim(sales_model_id) in ('','null','None') then null else trim(sales_model_id) end as sales_model_id,
		excluding_tax_price,
		predict_cost,
		excluding_tax_predict_cost,
		pur_channel_id,
		member_price,
		transfer_settlement_price,
		free_amount_price,
		length,
		width,
		height,
		net_weight,
		volume,
		gross_weight,
		distribution_price,
		price2,
		case when trim(field_41) in ('','null','None') then null else trim(field_41) end as field_41,
		case when trim(field_42) in ('','null','None') then null else trim(field_42) end as field_42,
		case when trim(field_43) in ('','null','None') then null else trim(field_43) end as field_43,
		case when trim(field_44) in ('','null','None') then null else trim(field_44) end as field_44,
		case when trim(field_45) in ('','null','None') then null else trim(field_45) end as field_45,
		case when trim(field_46) in ('','null','None') then null else trim(field_46) end as field_46,
		case when trim(field_47) in ('','null','None') then null else trim(field_47) end as field_47,
		case when trim(field_48) in ('','null','None') then null else trim(field_48) end as field_48,
		case when trim(field_49) in ('','null','None') then null else trim(field_49) end as field_49,
		case when trim(field_50) in ('','null','None') then null else trim(field_50) end as field_50,
		case when trim(field_51) in ('','null','None') then null else trim(field_51) end as field_51,
		case when trim(field_52) in ('','null','None') then null else trim(field_52) end as field_52,
		case when trim(field_53) in ('','null','None') then null else trim(field_53) end as field_53,
		case when trim(field_54) in ('','null','None') then null else trim(field_54) end as field_54,
		case when trim(field_55) in ('','null','None') then null else trim(field_55) end as field_55,
		case when trim(field_56) in ('','null','None') then null else trim(field_56) end as field_56,
		case when trim(field_57) in ('','null','None') then null else trim(field_57) end as field_57,
		case when trim(field_58) in ('','null','None') then null else trim(field_58) end as field_58,
		case when trim(field_59) in ('','null','None') then null else trim(field_59) end as field_59,
		case when trim(field_60) in ('','null','None') then null else trim(field_60) end as field_60,
		case when trim(field_61) in ('','null','None') then null else trim(field_61) end as field_61,
		case when trim(field_62) in ('','null','None') then null else trim(field_62) end as field_62,
		case when trim(field_63) in ('','null','None') then null else trim(field_63) end as field_63,
		case when trim(field_64) in ('','null','None') then null else trim(field_64) end as field_64,
		case when trim(field_65) in ('','null','None') then null else trim(field_65) end as field_65,
		case when trim(field_66) in ('','null','None') then null else trim(field_66) end as field_66,
		case when trim(field_67) in ('','null','None') then null else trim(field_67) end as field_67,
		case when trim(field_68) in ('','null','None') then null else trim(field_68) end as field_68,
		case when trim(field_69) in ('','null','None') then null else trim(field_69) end as field_69,
		case when trim(field_70) in ('','null','None') then null else trim(field_70) end as field_70,
		case when trim(field_71) in ('','null','None') then null else trim(field_71) end as field_71,
		case when trim(field_72) in ('','null','None') then null else trim(field_72) end as field_72,
		case when trim(field_73) in ('','null','None') then null else trim(field_73) end as field_73,
		case when trim(field_74) in ('','null','None') then null else trim(field_74) end as field_74,
		case when trim(field_75) in ('','null','None') then null else trim(field_75) end as field_75,
		case when trim(field_76) in ('','null','None') then null else trim(field_76) end as field_76,
		case when trim(field_77) in ('','null','None') then null else trim(field_77) end as field_77,
		case when trim(field_78) in ('','null','None') then null else trim(field_78) end as field_78,
		case when trim(field_79) in ('','null','None') then null else trim(field_79) end as field_79,
		case when trim(field_80) in ('','null','None') then null else trim(field_80) end as field_80,
		case when trim(field_81) in ('','null','None') then null else trim(field_81) end as field_81,
		case when trim(field_82) in ('','null','None') then null else trim(field_82) end as field_82,
		case when trim(field_83) in ('','null','None') then null else trim(field_83) end as field_83,
		case when trim(field_84) in ('','null','None') then null else trim(field_84) end as field_84,
		case when trim(field_85) in ('','null','None') then null else trim(field_85) end as field_85,
		case when trim(field_86) in ('','null','None') then null else trim(field_86) end as field_86,
		case when trim(field_87) in ('','null','None') then null else trim(field_87) end as field_87,
		case when trim(field_88) in ('','null','None') then null else trim(field_88) end as field_88,
		case when trim(field_89) in ('','null','None') then null else trim(field_89) end as field_89,
		case when trim(field_90) in ('','null','None') then null else trim(field_90) end as field_90,
		case when trim(field_91) in ('','null','None') then null else trim(field_91) end as field_91,
		case when trim(field_92) in ('','null','None') then null else trim(field_92) end as field_92,
		case when trim(field_93) in ('','null','None') then null else trim(field_93) end as field_93,
		case when trim(field_94) in ('','null','None') then null else trim(field_94) end as field_94,
		case when trim(field_95) in ('','null','None') then null else trim(field_95) end as field_95,
		case when trim(field_96) in ('','null','None') then null else trim(field_96) end as field_96,
		case when trim(field_97) in ('','null','None') then null else trim(field_97) end as field_97,
		case when trim(field_98) in ('','null','None') then null else trim(field_98) end as field_98,
		case when trim(field_99) in ('','null','None') then null else trim(field_99) end as field_99,
		case when trim(field_100) in ('','null','None') then null else trim(field_100) end as field_100,
		data_create_time,
		data_update_time,
		current_timestamp as insert_timestamp
from  ODS_IMS.GDS_Btsinglprodu_STG
where dt = @dt
END

GO
