/****** Object:  StoredProcedure [STG_IMS].[TRANS_GDS_Btgoods_STG]    Script Date: 2023/6/28 11:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [STG_IMS].[TRANS_GDS_Btgoods_STG] @dt [VARCHAR](10) AS
BEGIN 
-- ========================================================================================
-- --------------------------------- Change Log -------------------------------------------
-- Date Generated   Updated By     Description
-- ----------------------------------------------------------------------------------------
-- 2022-12-21       houshuangqiang           Initial Version
-- ========================================================================================
truncate table STG_IMS.GDS_Btgoods_STG;
insert into STG_IMS.GDS_Btgoods_STG
select 
		id,
		case when trim(name) in ('','null','None') then null else trim(name) end as name,
		case when trim(code) in ('','null','None') then null else trim(code) end as code,
		case when trim(path) in ('','null','None') then null else trim(path) end as path,
		case when trim(ispush) in ('','null','None') then null else trim(ispush) end as ispush,
		xsunit,
		unit1value,
		case when trim(relationdirec) in ('','null','None') then null else trim(relationdirec) end as relationdirec,
		cgjjunit,
		baseunitid,
		kcfzunit,
		cbunit,
		case when trim(contrastcode) in ('','null','None') then null else trim(contrastcode) end as contrastcode,
		unit2value,
		kcunit,
		case when trim(isnationalprice) in ('','null','None') then null else trim(isnationalprice) end as isnationalprice,
		createchannelid,
		case when trim(ctrlmode) in ('','null','None') then null else trim(ctrlmode) end as ctrlmode,
		case when trim(tpl) in ('','null','None') then null else trim(tpl) end as tpl,
		unitconverrelationid,
		cgunit,
		case when trim(status) in ('','null','None') then null else trim(status) end as status,
		taxrate,
		case when trim(relationtype) in ('','null','None') then null else trim(relationtype) end as relationtype,
		brandid,
		xsjjunit,
		auxiliaryunitid,
		case when trim(pickgoodsway) in ('','null','None') then null else trim(pickgoodsway) end as pickgoodsway,
		case when trim(printer) in ('','null','None') then null else trim(printer) end as printer,
		case when trim(changepriceattr) in ('','null','None') then null else trim(changepriceattr) end as changepriceattr,
		defaultownerid,
		categorytreeid,
		case when trim(categorytreenodeid) in ('','null','None') then null else trim(categorytreenodeid) end as categorytreenodeid,
		case when trim(lockbygoods) in ('','null','None') then null else trim(lockbygoods) end as lockbygoods,
		case when trim(valutionmethod) in ('','null','None') then null else trim(valutionmethod) end as valutionmethod,
		case when trim(giftflg) in ('','null','None') then null else trim(giftflg) end as giftflg,
		backnumber,
		price,
		case when trim(ispto) in ('','null','None') then null else trim(ispto) end as ispto,
		case when trim(iscutversion) in ('','null','None') then null else trim(iscutversion) end as iscutversion,
		case when trim(forshort) in ('','null','None') then null else trim(forshort) end as forshort,
		case when trim(englishname) in ('','null','None') then null else trim(englishname) end as englishname,
		case when trim(goodsspecifications) in ('','null','None') then null else trim(goodsspecifications) end as goodsspecifications,
		productiondate,
		overduedate,
		volume,
		grossweight,
		case when trim(expirationdate) in ('','null','None') then null else trim(expirationdate) end as expirationdate,
		banday,
		case when trim(createby) in ('','null','None') then null else trim(createby) end as createby,
		createtime,
		case when trim(modifyby) in ('','null','None') then null else trim(modifyby) end as modifyby,
		modifytime,
		case when trim(enableby) in ('','null','None') then null else trim(enableby) end as enableby,
		enabletime,
		case when trim(disableby) in ('','null','None') then null else trim(disableby) end as disableby,
		disabletime,
		classificationid,
		market_price,
		cost_price,
		case when trim(field_1) in ('','null','None') then null else trim(field_1) end as field_1,
		case when trim(field_2) in ('','null','None') then null else trim(field_2) end as field_2,
		case when trim(field_3) in ('','null','None') then null else trim(field_3) end as field_3,
		case when trim(field_4) in ('','null','None') then null else trim(field_4) end as field_4,
		case when trim(field_5) in ('','null','None') then null else trim(field_5) end as field_5,
		case when trim(field_6) in ('','null','None') then null else trim(field_6) end as field_6,
		case when trim(field_7) in ('','null','None') then null else trim(field_7) end as field_7,
		case when trim(field_8) in ('','null','None') then null else trim(field_8) end as field_8,
		case when trim(field_9) in ('','null','None') then null else trim(field_9) end as field_9,
		case when trim(field_10) in ('','null','None') then null else trim(field_10) end as field_10,
		case when trim(field_11) in ('','null','None') then null else trim(field_11) end as field_11,
		case when trim(field_12) in ('','null','None') then null else trim(field_12) end as field_12,
		case when trim(field_13) in ('','null','None') then null else trim(field_13) end as field_13,
		case when trim(field_14) in ('','null','None') then null else trim(field_14) end as field_14,
		case when trim(field_15) in ('','null','None') then null else trim(field_15) end as field_15,
		case when trim(field_16) in ('','null','None') then null else trim(field_16) end as field_16,
		case when trim(field_17) in ('','null','None') then null else trim(field_17) end as field_17,
		case when trim(field_18) in ('','null','None') then null else trim(field_18) end as field_18,
		case when trim(field_19) in ('','null','None') then null else trim(field_19) end as field_19,
		case when trim(field_20) in ('','null','None') then null else trim(field_20) end as field_20,
		case when trim(field_21) in ('','null','None') then null else trim(field_21) end as field_21,
		case when trim(field_22) in ('','null','None') then null else trim(field_22) end as field_22,
		case when trim(field_23) in ('','null','None') then null else trim(field_23) end as field_23,
		case when trim(field_24) in ('','null','None') then null else trim(field_24) end as field_24,
		case when trim(field_25) in ('','null','None') then null else trim(field_25) end as field_25,
		case when trim(field_26) in ('','null','None') then null else trim(field_26) end as field_26,
		case when trim(field_27) in ('','null','None') then null else trim(field_27) end as field_27,
		case when trim(field_28) in ('','null','None') then null else trim(field_28) end as field_28,
		case when trim(field_29) in ('','null','None') then null else trim(field_29) end as field_29,
		case when trim(field_30) in ('','null','None') then null else trim(field_30) end as field_30,
		case when trim(field_31) in ('','null','None') then null else trim(field_31) end as field_31,
		case when trim(field_32) in ('','null','None') then null else trim(field_32) end as field_32,
		case when trim(field_33) in ('','null','None') then null else trim(field_33) end as field_33,
		case when trim(field_34) in ('','null','None') then null else trim(field_34) end as field_34,
		case when trim(field_35) in ('','null','None') then null else trim(field_35) end as field_35,
		case when trim(field_36) in ('','null','None') then null else trim(field_36) end as field_36,
		case when trim(field_37) in ('','null','None') then null else trim(field_37) end as field_37,
		case when trim(field_38) in ('','null','None') then null else trim(field_38) end as field_38,
		case when trim(field_39) in ('','null','None') then null else trim(field_39) end as field_39,
		case when trim(field_40) in ('','null','None') then null else trim(field_40) end as field_40,
		case when trim(is_enabled_only) in ('','null','None') then null else trim(is_enabled_only) end as is_enabled_only,
		case when trim(is_online) in ('','null','None') then null else trim(is_online) end as is_online,
		case when trim(goods_type) in ('','null','None') then null else trim(goods_type) end as goods_type,
		case when trim(picture_url) in ('','null','None') then null else trim(picture_url) end as picture_url,
		case when trim(color_group) in ('','null','None') then null else trim(color_group) end as color_group,
		case when trim(size_group) in ('','null','None') then null else trim(size_group) end as size_group,
		case when trim(field_group_1) in ('','null','None') then null else trim(field_group_1) end as field_group_1,
		case when trim(field_group_2) in ('','null','None') then null else trim(field_group_2) end as field_group_2,
		case when trim(field_group_3) in ('','null','None') then null else trim(field_group_3) end as field_group_3,
		case when trim(field_group_4) in ('','null','None') then null else trim(field_group_4) end as field_group_4,
		case when trim(field_group_5) in ('','null','None') then null else trim(field_group_5) end as field_group_5,
		case when trim(remark) in ('','null','None') then null else trim(remark) end as remark,
		pur_sale_expiry_date,
		expired_days,
		default_supplier_id,
		launch_date,
		case when trim(discount_type) in ('','null','None') then null else trim(discount_type) end as discount_type,
		retail_minimum_discount,
		case when trim(is_draw_bill) in ('','null','None') then null else trim(is_draw_bill) end as is_draw_bill,
		case when trim(is_charge_back) in ('','null','None') then null else trim(is_charge_back) end as is_charge_back,
		case when trim(recall_money) in ('','null','None') then null else trim(recall_money) end as recall_money,
		case when trim(billing_category) in ('','null','None') then null else trim(billing_category) end as billing_category,
		case when trim(goods_status) in ('','null','None') then null else trim(goods_status) end as goods_status,
		case when trim(custom_type) in ('','null','None') then null else trim(custom_type) end as custom_type,
		case when trim(tag_id) in ('','null','None') then null else trim(tag_id) end as tag_id,
		tax_id,
		case when trim(sales_model_id) in ('','null','None') then null else trim(sales_model_id) end as sales_model_id,
		pur_channel_id,
		excluding_tax_price,
		predict_cost,
		excluding_tax_predict_cost,
		length,
		width,
		height,
		netweight,
		case when trim(stock_amount_status) in ('','null','None') then null else trim(stock_amount_status) end as stock_amount_status,
		case when trim(refund_payment_status) in ('','null','None') then null else trim(refund_payment_status) end as refund_payment_status,
		case when trim(is_bom_flag) in ('','null','None') then null else trim(is_bom_flag) end as is_bom_flag,
		member_price,
		case when trim(stock_count_status) in ('','null','None') then null else trim(stock_count_status) end as stock_count_status,
		transfer_settlement_price,
		case when trim(sales_status) in ('','null','None') then null else trim(sales_status) end as sales_status,
		sold_number,
		case when trim(introduce) in ('','null','None') then null else trim(introduce) end as introduce,
		free_amount_price,
		case when trim(weight_status) in ('','null','None') then null else trim(weight_status) end as weight_status,
		case when trim(batch_expiration_management) in ('','null','None') then null else trim(batch_expiration_management) end as batch_expiration_management,
		distribution_price,
		price2,
		case when trim(field_41) in ('','null','None') then null else trim(field_41) end as field_41,
		case when trim(field_42) in ('','null','None') then null else trim(field_42) end as field_42,
		case when trim(field_43) in ('','null','None') then null else trim(field_43) end as field_43,
		case when trim(field_44) in ('','null','None') then null else trim(field_44) end as field_44,
		case when trim(field_45) in ('','null','None') then null else trim(field_45) end as field_45,
		case when trim(field_46) in ('','null','None') then null else trim(field_46) end as field_46,
		case when trim(field_47) in ('','null','None') then null else trim(field_47) end as field_47,
		case when trim(field_48) in ('','null','None') then null else trim(field_48) end as field_48,
		case when trim(field_49) in ('','null','None') then null else trim(field_49) end as field_49,
		case when trim(field_50) in ('','null','None') then null else trim(field_50) end as field_50,
		case when trim(field_51) in ('','null','None') then null else trim(field_51) end as field_51,
		case when trim(field_52) in ('','null','None') then null else trim(field_52) end as field_52,
		case when trim(field_53) in ('','null','None') then null else trim(field_53) end as field_53,
		case when trim(field_54) in ('','null','None') then null else trim(field_54) end as field_54,
		case when trim(field_55) in ('','null','None') then null else trim(field_55) end as field_55,
		case when trim(field_56) in ('','null','None') then null else trim(field_56) end as field_56,
		case when trim(field_57) in ('','null','None') then null else trim(field_57) end as field_57,
		case when trim(field_58) in ('','null','None') then null else trim(field_58) end as field_58,
		case when trim(field_59) in ('','null','None') then null else trim(field_59) end as field_59,
		case when trim(field_60) in ('','null','None') then null else trim(field_60) end as field_60,
		case when trim(field_61) in ('','null','None') then null else trim(field_61) end as field_61,
		case when trim(field_62) in ('','null','None') then null else trim(field_62) end as field_62,
		case when trim(field_63) in ('','null','None') then null else trim(field_63) end as field_63,
		case when trim(field_64) in ('','null','None') then null else trim(field_64) end as field_64,
		case when trim(field_65) in ('','null','None') then null else trim(field_65) end as field_65,
		case when trim(field_66) in ('','null','None') then null else trim(field_66) end as field_66,
		case when trim(field_67) in ('','null','None') then null else trim(field_67) end as field_67,
		case when trim(field_68) in ('','null','None') then null else trim(field_68) end as field_68,
		case when trim(field_69) in ('','null','None') then null else trim(field_69) end as field_69,
		case when trim(field_70) in ('','null','None') then null else trim(field_70) end as field_70,
		case when trim(field_71) in ('','null','None') then null else trim(field_71) end as field_71,
		case when trim(field_72) in ('','null','None') then null else trim(field_72) end as field_72,
		case when trim(field_73) in ('','null','None') then null else trim(field_73) end as field_73,
		case when trim(field_74) in ('','null','None') then null else trim(field_74) end as field_74,
		case when trim(field_75) in ('','null','None') then null else trim(field_75) end as field_75,
		case when trim(field_76) in ('','null','None') then null else trim(field_76) end as field_76,
		case when trim(field_77) in ('','null','None') then null else trim(field_77) end as field_77,
		case when trim(field_78) in ('','null','None') then null else trim(field_78) end as field_78,
		case when trim(field_79) in ('','null','None') then null else trim(field_79) end as field_79,
		case when trim(field_80) in ('','null','None') then null else trim(field_80) end as field_80,
		case when trim(field_81) in ('','null','None') then null else trim(field_81) end as field_81,
		case when trim(field_82) in ('','null','None') then null else trim(field_82) end as field_82,
		case when trim(field_83) in ('','null','None') then null else trim(field_83) end as field_83,
		case when trim(field_84) in ('','null','None') then null else trim(field_84) end as field_84,
		case when trim(field_85) in ('','null','None') then null else trim(field_85) end as field_85,
		case when trim(field_86) in ('','null','None') then null else trim(field_86) end as field_86,
		case when trim(field_87) in ('','null','None') then null else trim(field_87) end as field_87,
		case when trim(field_88) in ('','null','None') then null else trim(field_88) end as field_88,
		case when trim(field_89) in ('','null','None') then null else trim(field_89) end as field_89,
		case when trim(field_90) in ('','null','None') then null else trim(field_90) end as field_90,
		case when trim(field_91) in ('','null','None') then null else trim(field_91) end as field_91,
		case when trim(field_92) in ('','null','None') then null else trim(field_92) end as field_92,
		case when trim(field_93) in ('','null','None') then null else trim(field_93) end as field_93,
		case when trim(field_94) in ('','null','None') then null else trim(field_94) end as field_94,
		case when trim(field_95) in ('','null','None') then null else trim(field_95) end as field_95,
		case when trim(field_96) in ('','null','None') then null else trim(field_96) end as field_96,
		case when trim(field_97) in ('','null','None') then null else trim(field_97) end as field_97,
		case when trim(field_98) in ('','null','None') then null else trim(field_98) end as field_98,
		case when trim(field_99) in ('','null','None') then null else trim(field_99) end as field_99,
		case when trim(field_100) in ('','null','None') then null else trim(field_100) end as field_100,
		data_create_time,
		data_update_time,
		case when trim(color) in ('','null','None') then null else trim(color) end as color,
		current_timestamp as insert_timestamp
from  ODS_IMS.GDS_Btgoods_STG
where dt = @dt
END

GO
