/****** Object:  StoredProcedure [TEMP].[TRANS_Events_Bak_20220930]    Script Date: 2023/6/28 11:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [TEMP].[TRANS_Events_Bak_20220930] @dt [VARCHAR](10) AS
BEGIN
delete from STG_Sensor.Events where dt = @dt;
insert into STG_Sensor.Events
select 
    event,
    user_id,
    case when trim(distinct_id) in ('null','') then null else trim(distinct_id) end  as distinct_id,
    date,
    time,
    case when trim(ss_device_id) in ('null','') then null else trim(ss_device_id) end  as ss_device_id,
    case when trim(ss_os_version) in ('null','') then null else trim(ss_os_version) end  as ss_os_version,
    case when trim(ss_carrier) in ('null','') then null else trim(ss_carrier) end  as ss_carrier,
    case when trim(ss_os) in ('null','') then null else trim(ss_os) end  as ss_os,
    ss_is_first_day,
    ss_screen_height,
    ss_screen_width,
    case when trim(ss_model) in ('null','') then null else trim(ss_model) end  as ss_model,
    case when trim(ss_network_type) in ('null','') then null else trim(ss_network_type) end  as ss_network_type,
    case when trim(ss_lib) in ('null','') then null else trim(ss_lib) end  as ss_lib,
    case when trim(ss_app_version) in ('null','') then null else trim(ss_app_version) end  as ss_app_version,
    case when trim(ss_manufacturer) in ('null','') then null else trim(ss_manufacturer) end  as ss_manufacturer,
    ss_wifi,
    case when trim(ss_lib_version) in ('null','') then null else trim(ss_lib_version) end  as ss_lib_version,
    ss_is_first_time,
    ss_resume_from_background,
    case when trim(ss_ip) in ('null','') then null else trim(ss_ip) end  as ss_ip,
    case when trim(ss_city) in ('null','') then null else trim(ss_city) end  as ss_city,
    case when trim(ss_province) in ('null','') then null else trim(ss_province) end  as ss_province,
    case when trim(ss_country) in ('null','') then null else trim(ss_country) end  as ss_country,
    case when trim(ss_user_agent) in ('null','') then null else trim(ss_user_agent) end  as ss_user_agent,
    case when trim(ss_browser) in ('null','') then null else trim(ss_browser) end  as ss_browser,
    case when trim(ss_screen_name) in ('null','') then null else trim(ss_screen_name) end  as ss_screen_name,
    case when trim(ss_title) in ('null','') then null else trim(ss_title) end  as ss_title,
    case when trim(ss_element_content) in ('null','') then null else trim(ss_element_content) end  as ss_element_content,
    case when trim(ss_element_type) in ('null','') then null else trim(ss_element_type) end  as ss_element_type,
    ss_event_duration,
    case when trim(ss_track_signup_original_id) in ('null','') then null else trim(ss_track_signup_original_id) end  as ss_track_signup_original_id,
    case when trim(ss_element_id) in ('null','') then null else trim(ss_element_id) end  as ss_element_id,
    case when trim(ss_element_position) in ('null','') then null else trim(ss_element_position) end  as ss_element_position,
    case when trim(ss_utm_source) in ('null','') then null else trim(ss_utm_source) end  as ss_utm_source,
    case when trim(ss_utm_campaign) in ('null','') then null else trim(ss_utm_campaign) end  as ss_utm_campaign,
    case when trim(ss_latest_traffic_source_type) in ('null','') then null else trim(ss_latest_traffic_source_type) end  as ss_latest_traffic_source_type,
    case when trim(ss_latest_referrer) in ('null','') then null else trim(ss_latest_referrer) end  as ss_latest_referrer,
    case when trim(ss_latest_referrer_host) in ('null','') then null else trim(ss_latest_referrer_host) end  as ss_latest_referrer_host,
    case when trim(ss_latest_search_keyword) in ('null','') then null else trim(ss_latest_search_keyword) end  as ss_latest_search_keyword,
    case when trim(ss_referrer) in ('null','') then null else trim(ss_referrer) end  as ss_referrer,
    case when trim(ss_referrer_host) in ('null','') then null else trim(ss_referrer_host) end  as ss_referrer_host,
    case when trim(ss_url) in ('null','') then null else trim(ss_url) end  as ss_url,
    case when trim(ss_url_path) in ('null','') then null else trim(ss_url_path) end  as ss_url_path,
    case when trim(ss_browser_version) in ('null','') then null else trim(ss_browser_version) end  as ss_browser_version,
    case when trim(ss_element_class_name) in ('null','') then null else trim(ss_element_class_name) end  as ss_element_class_name,
    case when trim(ss_element_target_url) in ('null','') then null else trim(ss_element_target_url) end  as ss_element_target_url,
    case when trim(ss_element_selector) in ('null','') then null else trim(ss_element_selector) end  as ss_element_selector,
    case when trim(current_url) in ('null','') then null else trim(current_url) end  as current_url,
    ss_viewport_position,
    ss_viewport_height,
    ss_viewport_width,
    case when trim(login_channel) in ('null','') then null else trim(login_channel) end  as login_channel,
    if_success,
    case when trim(failure_reason) in ('null','') then null else trim(failure_reason) end  as failure_reason,
    case when trim(sign_up_method) in ('null','') then null else trim(sign_up_method) end  as sign_up_method,
    is_member_from_store,
    previous_page_type,
    case when trim(loginchannel) in ('null','') then null else trim(loginchannel) end  as loginchannel,
    case when trim(vip_card) in ('null','') then null else trim(vip_card) end  as vip_card,
    case when trim(vip_card_type) in ('null','') then null else trim(vip_card_type) end  as vip_card_type,
    if_choose_existing_vip_card,
    case when trim(ss_element_name) in ('null','') then null else trim(ss_element_name) end  as ss_element_name,
    case when trim(ss_latest_utm_source) in ('null','') then null else trim(ss_latest_utm_source) end  as ss_latest_utm_source,
    case when trim(ss_latest_utm_medium) in ('null','') then null else trim(ss_latest_utm_medium) end  as ss_latest_utm_medium,
    case when trim(ss_latest_utm_campaign) in ('null','') then null else trim(ss_latest_utm_campaign) end  as ss_latest_utm_campaign,
    case when trim(ss_latest_utm_content) in ('null','') then null else trim(ss_latest_utm_content) end  as ss_latest_utm_content,
    case when trim(ss_bot_name) in ('null','') then null else trim(ss_bot_name) end  as ss_bot_name,
    case when trim(ss_latest_utm_term) in ('null','') then null else trim(ss_latest_utm_term) end  as ss_latest_utm_term,
    vip_is_new_pinkcard,
    case when trim(ss_utm_medium) in ('null','') then null else trim(ss_utm_medium) end  as ss_utm_medium,
    case when trim(previous_page_type_new) in ('null','') then null else trim(previous_page_type_new) end  as previous_page_type_new,
    case when trim(banner_type) in ('null','') then null else trim(banner_type) end  as banner_type,
    case when trim(banner_content) in ('null','') then null else trim(banner_content) end  as banner_content,
    case when trim(banner_current_url) in ('null','') then null else trim(banner_current_url) end  as banner_current_url,
    case when trim(banner_current_page_type) in ('null','') then null else trim(banner_current_page_type) end  as banner_current_page_type,
     case when trim(banner_belong_area) in ('null','') then null else trim(banner_belong_area) end  as banner_belong_area,
     case when trim(banner_to_url) in ('null','') then null else trim(banner_to_url) end  as banner_to_url,
     case when trim(banner_to_page_type) in ('null','') then null else trim(banner_to_page_type) end  as banner_to_page_type,
     case when trim(banner_ranking) in ('null','') then null else trim(banner_ranking) end  as banner_ranking,
     case when trim(campaign_code) in ('null','') then null else trim(campaign_code) end  as campaign_code,
     case when trim(ss_utm_content) in ('null','') then null else trim(ss_utm_content) end  as ss_utm_content,
     case when trim(ss_utm_term) in ('null','') then null else trim(ss_utm_term) end  as ss_utm_term,
     case when trim(referrer) in ('null','') then null else trim(referrer) end  as referrer,
     case when trim(a) in ('null','') then null else trim(a) end  as a,
     case when trim(key_word_tpye) in ('null','') then null else trim(key_word_tpye) end  as key_word_tpye,
     case when trim(key_word_tpye_details) in ('null','') then null else trim(key_word_tpye_details) end  as key_word_tpye_details,
    has_result,
     case when trim(commodity_sku) in ('null','') then null else trim(commodity_sku) end  as commodity_sku,
     case when trim(op_code) in ('null','') then null else trim(op_code) end  as op_code,
     case when trim(color) in ('null','') then null else trim(color) end  as color,
     case when trim(platform_type) in ('null','') then null else trim(platform_type) end  as platform_type,
     case when trim(system_type) in ('null','') then null else trim(system_type) end  as system_type,
     case when trim(orderid) in ('null','') then null else trim(orderid) end  as orderid,
     case when trim(userid) in ('null','') then null else trim(userid) end  as userid,
    ss_kafka_offset,
    detail_id,
     case when trim(ss_latest_scene) in ('null','') then null else trim(ss_latest_scene) end  as ss_latest_scene,
     case when trim(ss_scene) in ('null','') then null else trim(ss_scene) end  as ss_scene,
    ss_share_depth,
     case when trim(undefined) in ('null','') then null else trim(undefined) end  as undefined,
     case when trim(ss_url_query) in ('null','') then null else trim(ss_url_query) end  as ss_url_query,
     case when trim(ss_share_distinct_id) in ('null','') then null else trim(ss_share_distinct_id) end  as ss_share_distinct_id,
     case when trim(ss_share_url_path) in ('null','') then null else trim(ss_share_url_path) end  as ss_share_url_path,
     case when trim(activityid) in ('null','') then null else trim(activityid) end  as activityid,
    if_share,
    is_first_login,
     case when trim(environment_type) in ('null','') then null else trim(environment_type) end  as environment_type,
     case when trim(app_crashed_reason) in ('null','') then null else trim(app_crashed_reason) end  as app_crashed_reason,
     case when trim(key_word_type) in ('null','') then null else trim(key_word_type) end  as key_word_type,
     case when trim(key_word_type_details) in ('null','') then null else trim(key_word_type_details) end  as key_word_type_details,
     case when trim(_latest_cmpid) in ('null','') then null else trim(_latest_cmpid) end  as _latest_cmpid,
     case when trim(beauty_article_current_page) in ('null','') then null else trim(beauty_article_current_page) end  as beauty_article_current_page,
     case when trim(beauty_article_tag) in ('null','') then null else trim(beauty_article_tag) end  as beauty_article_tag,
     case when trim(beauty_author_name) in ('null','') then null else trim(beauty_author_name) end  as beauty_author_name,
     case when trim(beauty_author_id) in ('null','') then null else trim(beauty_author_id) end  as beauty_author_id,
     case when trim(beauty_article_id) in ('null','') then null else trim(beauty_article_id) end  as beauty_article_id,
     case when trim(productid) in ('null','') then null else trim(productid) end  as productid,
    enviorment_type,
     case when trim(userno) in ('null','') then null else trim(userno) end  as userno,
     case when trim(beauty_article_product_id) in ('null','') then null else trim(beauty_article_product_id) end  as beauty_article_product_id,
     case when trim(beauty_function_current_position) in ('null','') then null else trim(beauty_function_current_position) end  as beauty_function_current_position,
     case when trim(beauty_function_operation_type) in ('null','') then null else trim(beauty_function_operation_type) end  as beauty_function_operation_type,
     case when trim(share_method) in ('null','') then null else trim(share_method) end  as share_method,
     case when trim(beauty_article_product_name) in ('null','') then null else trim(beauty_article_product_name) end  as beauty_article_product_name,
     case when trim(beauty_clicked_product_name) in ('null','') then null else trim(beauty_clicked_product_name) end  as beauty_clicked_product_name,
     case when trim(beauty_clicked_product_sku) in ('null','') then null else trim(beauty_clicked_product_sku) end  as beauty_clicked_product_sku,
     case when trim(beauty_article_title) in ('null','') then null else trim(beauty_article_title) end  as beauty_article_title,
     case when trim(ss_app_state) in ('null','') then null else trim(ss_app_state) end  as ss_app_state,
     case when trim(utm_content) in ('null','') then null else trim(utm_content) end  as utm_content,
     case when trim(ss_short_url_key) in ('null','') then null else trim(ss_short_url_key) end  as ss_short_url_key,
     case when trim(ss_short_url_target) in ('null','') then null else trim(ss_short_url_target) end  as ss_short_url_target,
     case when trim(ss_utm_matching_type) in ('null','') then null else trim(ss_utm_matching_type) end  as ss_utm_matching_type,
    if_a,
     case when trim(button_name) in ('null','') then null else trim(button_name) end  as button_name,
     case when trim(page_type_detail) in ('null','') then null else trim(page_type_detail) end  as page_type_detail,
     case when trim(_id) in ('null','') then null else trim(_id) end  as _id,
     case when trim(page_type) in ('null','') then null else trim(page_type) end  as page_type,
     case when trim(channelid) in ('null','') then null else trim(channelid) end  as channelid,
    ss_receive_time,
     case when trim(ss_matched_key) in ('null','') then null else trim(ss_matched_key) end  as ss_matched_key,
     case when trim(log_time_millis) in ('null','') then null else trim(log_time_millis) end  as log_time_millis,
     case when trim(key_words) in ('null','') then null else trim(key_words) end  as key_words,
     case when trim(brand_id) in ('null','') then null else trim(brand_id) end  as brand_id,
     case when trim(categoryid) in ('null','') then null else trim(categoryid) end  as categoryid,
     case when trim(branden) in ('null','') then null else trim(branden) end  as branden,
     case when trim(brandstoryen) in ('null','') then null else trim(brandstoryen) end  as brandstoryen,
     case when trim(campaign_to_pagetype) in ('null','') then null else trim(campaign_to_pagetype) end  as campaign_to_pagetype,
     case when trim(productcn) in ('null','') then null else trim(productcn) end  as productcn,
     case when trim(page_detail) in ('null','') then null else trim(page_detail) end  as page_detail,
     case when trim(brand_cn) in ('null','') then null else trim(brand_cn) end  as brand_cn,
     case when trim(level) in ('null','') then null else trim(level) end  as level,
     case when trim(message) in ('null','') then null else trim(message) end  as message,
    use_client_time,
     case when trim(position) in ('null','') then null else trim(position) end  as position,
     case when trim(ss_browser_language) in ('null','') then null else trim(ss_browser_language) end  as ss_browser_language,
     case when trim(placeholder) in ('null','') then null else trim(placeholder) end  as placeholder,
     case when trim(timestring) in ('null','') then null else trim(timestring) end  as timestring,
    sensortime,
    case when trim([key]) in ('null','') then null else trim([key]) end  as [key],
    activity_status,
     case when trim(url_detail) in ('null','') then null else trim(url_detail) end  as url_detail,
     case when trim(compaign_code) in ('null','') then null else trim(compaign_code) end  as compaign_code,
    activityclick,
     case when trim(utm_source_detail) in ('null','') then null else trim(utm_source_detail) end  as utm_source_detail,
     case when trim(utm_medium_detail) in ('null','') then null else trim(utm_medium_detail) end  as utm_medium_detail,
     case when trim(utm_campaign_detail) in ('null','') then null else trim(utm_campaign_detail) end  as utm_campaign_detail,
     case when trim(utm_content_detail) in ('null','') then null else trim(utm_content_detail) end  as utm_content_detail,
     case when trim(utm_term_detail) in ('null','') then null else trim(utm_term_detail) end  as utm_term_detail,
     case when trim(ref_page_type) in ('null','') then null else trim(ref_page_type) end  as ref_page_type,
     case when trim(ref_page_type_detail) in ('null','') then null else trim(ref_page_type_detail) end  as ref_page_type_detail,
     case when trim(utm_cource_detail) in ('null','') then null else trim(utm_cource_detail) end  as utm_cource_detail,
     case when trim(topic_name) in ('null','') then null else trim(topic_name) end  as topic_name,
     case when trim(topic_click_position) in ('null','') then null else trim(topic_click_position) end  as topic_click_position,
     case when trim(campaign_type) in ('null','') then null else trim(campaign_type) end  as campaign_type,
     case when trim(msg_status) in ('null','') then null else trim(msg_status) end  as msg_status,
     case when trim(msg_type) in ('null','') then null else trim(msg_type) end  as msg_type,
     case when trim(Live_id) in ('null','') then null else trim(Live_id) end  as Live_id,
     case when trim(utm_id_detail) in ('null','') then null else trim(utm_id_detail) end  as utm_id_detail,
     case when trim(beauty_signin_entrance) in ('null','') then null else trim(beauty_signin_entrance) end  as beauty_signin_entrance,
     case when trim(sku_code) in ('null','') then null else trim(sku_code) end  as sku_code,
     case when trim(source_op_code) in ('null','') then null else trim(source_op_code) end  as source_op_code,
     case when trim(sharechannel) in ('null','') then null else trim(sharechannel) end  as sharechannel,
     case when trim(utm_seb_detail) in ('null','') then null else trim(utm_seb_detail) end  as utm_seb_detail,
     case when trim(sep_utm_campaign) in ('null','') then null else trim(sep_utm_campaign) end  as sep_utm_campaign,
     case when trim(sep_utm_source) in ('null','') then null else trim(sep_utm_source) end  as sep_utm_source,
     case when trim(sep_utm_medium) in ('null','') then null else trim(sep_utm_medium) end  as sep_utm_medium,
     case when trim(sep_utm_content) in ('null','') then null else trim(sep_utm_content) end  as sep_utm_content,
     case when trim(sep_utm_term) in ('null','') then null else trim(sep_utm_term) end  as sep_utm_term,
     case when trim(namevaluepairs) in ('null','') then null else trim(namevaluepairs) end  as namevaluepairs,
    ss_timezone_offset,
     case when trim(couponid) in ('null','') then null else trim(couponid) end  as couponid,
     case when trim(ss_url_host) in ('null','') then null else trim(ss_url_host) end  as ss_url_host,
     case when trim(ss_app_id) in ('null','') then null else trim(ss_app_id) end  as ss_app_id,
     case when trim(ss_element_path) in ('null','') then null else trim(ss_element_path) end  as ss_element_path,
     case when trim(ss_deeplink_url) in ('null','') then null else trim(ss_deeplink_url) end  as ss_deeplink_url,
     case when trim(test_version) in ('null','') then null else trim(test_version) end  as test_version,
     case when trim(roomid) in ('null','') then null else trim(roomid) end  as roomid,
     case when trim(click_openid) in ('null','') then null else trim(click_openid) end  as click_openid,
     case when trim(success_status) in ('null','') then null else trim(success_status) end  as success_status,
     case when trim(room_id) in ('null','') then null else trim(room_id) end  as room_id,
     case when trim(share_openid) in ('null','') then null else trim(share_openid) end  as share_openid,
     case when trim(ss_hdfs_import_batch_name) in ('null','') then null else trim(ss_hdfs_import_batch_name) end  as ss_hdfs_import_batch_name,
     case when trim(ss_share_method) in ('null','') then null else trim(ss_share_method) end  as ss_share_method,
     case when trim(ss_latest_share_distinct_id) in ('null','') then null else trim(ss_latest_share_distinct_id) end  as ss_latest_share_distinct_id,
    ss_latest_share_depth,
    case when trim(ss_latest_share_url_path) in ('null','') then null else trim(ss_latest_share_url_path) end  as ss_latest_share_url_path,
    case when trim(ss_latest_share_method) in ('null','') then null else trim(ss_latest_share_method) end  as ss_latest_share_method,
    case when trim(ss_app_name) in ('null','') then null else trim(ss_app_name) end  as ss_app_name,
    case when trim(utm_acid_detail) in ('null','') then null else trim(utm_acid_detail) end  as utm_acid_detail,
    case when trim(url_path) in ('null','') then null else trim(url_path) end  as url_path,
    case when trim(url_query) in ('null','') then null else trim(url_query) end  as url_query,
    case when trim(ext_product_name) in ('null','') then null else trim(ext_product_name) end  as ext_product_name,
    case when trim(ext_brand_type) in ('null','') then null else trim(ext_brand_type) end  as ext_brand_type,
    case when trim(ext_product_tag) in ('null','') then null else trim(ext_product_tag) end  as ext_product_tag,
    ext_product_price,
    case when trim(ext_product_type) in ('null','') then null else trim(ext_product_type) end  as ext_product_type,
    case when trim(ext_order_channel) in ('null','') then null else trim(ext_order_channel) end  as ext_order_channel,
    case when trim(ext_order_platform) in ('null','') then null else trim(ext_order_platform) end  as ext_order_platform,
    case when trim(ext_order_status) in ('null','') then null else trim(ext_order_status) end  as ext_order_status,
    ext_order_valid,
    case when trim(ext_order_type) in ('null','') then null else trim(ext_order_type) end  as ext_order_type,
    case when trim(ext_delivery_addr_country) in ('null','') then null else trim(ext_delivery_addr_country) end  as ext_delivery_addr_country,
    case when trim(ext_delivery_addr_province) in ('null','') then null else trim(ext_delivery_addr_province) end  as ext_delivery_addr_province,
    case when trim(ext_delivery_addr_city) in ('null','') then null else trim(ext_delivery_addr_city) end  as ext_delivery_addr_city,
    case when trim(ext_payment_mode) in ('null','') then null else trim(ext_payment_mode) end  as ext_payment_mode,
    ext_gift_card_used,
    ext_mem_card_used,
    case when trim(ext_mem_card_num) in ('null','') then null else trim(ext_mem_card_num) end  as ext_mem_card_num,
    case when trim(ext_mem_card_type) in ('null','') then null else trim(ext_mem_card_type) end  as ext_mem_card_type,
    case when trim(ext_coupon_name) in ('null','') then null else trim(ext_coupon_name) end  as ext_coupon_name,
    case when trim(ext_coupon_type) in ('null','') then null else trim(ext_coupon_type) end  as ext_coupon_type,
    ext_coupon_num,
    case when trim(ext_coupon_code) in ('null','') then null else trim(ext_coupon_code) end  as ext_coupon_code,
    ext_order_amount,
    ext_paid_amount,
    case when trim(ext_product_brand_name) in ('null','') then null else trim(ext_product_brand_name) end  as ext_product_brand_name,
    case when trim(ext_sku_name) in ('null','') then null else trim(ext_sku_name) end  as ext_sku_name,
    case when trim(ext_sku_tag) in ('null','') then null else trim(ext_sku_tag) end  as ext_sku_tag,
    ext_sku_price,
    ext_order_time,
    ext_payment_time,
    case when trim(new_key_word_type_detail) in ('null','') then null else trim(new_key_word_type_detail) end  as new_key_word_type_detail,
    case when trim(new_key_word_type) in ('null','') then null else trim(new_key_word_type) end  as new_key_word_type,
    case when trim(versionid) in ('null','') then null else trim(versionid) end  as versionid,
    case when trim(toprankinglist_name) in ('null','') then null else trim(toprankinglist_name) end  as toprankinglist_name,
    case when trim(segment_id) in ('null','') then null else trim(segment_id) end  as segment_id,
    current_timestamp as insert_timestamp,
    @dt as dt,
    case when trim(adhocExperiments) in ('null', '') then null else trim(adhocExperiments) end as adhocExperiments,
    case when trim(page_id) in ('null', '') then null else trim(page_id) end as page_id,
    case when trim(action_id) in ('null', '') then null else trim(action_id) end as action_id,
    case when trim(adhoc_experiments) in ('null', '') then null else trim(adhoc_experiments) end as adhoc_experiments,
    case when trim(adhocExperimentsNew) in ('null', '') then null else trim(adhocExperimentsNew) end as adhocExperimentsNew
from 
    ODS_Sensor.Events
where dt = @dt
END
GO
