/****** Object:  StoredProcedure [TEMP].[SP_IMP_OMS_STD_Trade_Bak_20230619]    Script Date: 2023/6/28 11:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [TEMP].[SP_IMP_OMS_STD_Trade_Bak_20230619] AS
BEGIN
delete ods from ODS_OMS_Order.OMS_STD_Trade ods inner join stg_oms.OMS_STD_Trade stg on ods.tid = stg.tid;

insert into ODS_OMS_Order.OMS_STD_Trade
select 
   case when trim(lower(tid)) in ('','null') then null else trim(tid) end as tid,
    case when trim(lower(platform)) in ('','null') then null else trim(platform) end as platform,
    case when trim(lower(shop_code)) in ('','null') then null else trim(shop_code) end as shop_code,
    total_fee,
    discount_fee,
    case when trim(lower(pay_no)) in ('','null') then null else trim(pay_no) end as pay_no,
    payment,
    case when trim(lower(pay_type)) in ('','null') then null else trim(pay_type) end as seat_account,
    case when trim(lower(pay_status)) in ('','null') then null else trim(pay_status) end as seat_account,
    post_fee,
    case when trim(lower(receiver_name)) in ('','null') then null else trim(receiver_name) end as receiver_name,
    case when trim(lower(receiver_country)) in ('','null') then null else trim(receiver_country) end as receiver_country,
    case when trim(lower(receiver_state)) in ('','null') then null else trim(receiver_state) end as receiver_state,
    case when trim(lower(receiver_city)) in ('','null') then null else trim(receiver_city) end as receiver_city,
    case when trim(lower(receiver_district)) in ('','null') then null else trim(receiver_district) end as receiver_district,
    case when trim(lower(receiver_town)) in ('','null') then null else trim(receiver_town) end as receiver_town,
    case when trim(lower(receiver_address)) in ('','null') then null else trim(receiver_address) end as receiver_address,
    case when trim(lower(receiver_zip)) in ('','null') then null else trim(receiver_zip) end as receiver_zip,
    case when trim(lower(receiver_mobile)) in ('','null') then null else trim(receiver_mobile) end as receiver_mobile,
    case when trim(lower(receiver_phone)) in ('','null') then null else trim(receiver_phone) end as receiver_phone,
    case when trim(lower(buyer_email)) in ('','null') then null else trim(buyer_email) end as buyer_email,
    case when trim(lower(status)) in ('','null') then null else trim(status) end as status,
    case when trim(lower(type)) in ('','null') then null else trim(type) end as type,
    case when trim(lower(buyer_nick)) in ('','null') then null else trim(buyer_nick) end as buyer_nick,
    case when trim(lower(seller_flag)) in ('','null') then null else trim(seller_flag) end as seller_flag,
    case when trim(lower(seller_memo)) in ('','null') then null else trim(seller_memo) end as seller_memo,
    case when trim(lower(buyer_message)) in ('','null') then null else trim(buyer_message) end as buyer_message,
    case when trim(lower(step_trade_status)) in ('','null') then null else trim(step_trade_status) end as step_trade_status,
    step_paid_fee,
    pay_time,
    created,
    modified,
    is_cod,
    cod_fee,
    created_at,
    updated_at,
    process_status,
    case when trim(lower(bill_no)) in ('','null') then null else trim(bill_no) end as bill_no,
    case when trim(lower(exception_remark)) in ('','null') then null else trim(exception_remark) end as exception_remark,
    num,
    download_status,
    trans_to_num,
    case when trim(lower(platform_status)) in ('','null') then null else trim(platform_status) end as platform_status,
    case when trim(lower(platform_refund_status)) in ('','null') then null else trim(platform_refund_status) end as platform_refund_status,
    case when trim(lower(platform_risk_status)) in ('','null') then null else trim(platform_risk_status) end as platform_risk_status,
    case when trim(lower(store_id)) in ('','null') then null else trim(store_id) end as store_id,
    case when trim(lower(live_activites)) in ('','null') then null else trim(live_activites) end as live_activites,
    case when trim(lower(delivery_type)) in ('','null') then null else trim(delivery_type) end as delivery_type,
    case when trim(lower(vip_card_no)) in ('','null') then null else trim(vip_card_no) end as vip_card_no,
    case when trim(lower(deal_ext_desc)) in ('','null') then null else trim(deal_ext_desc) end as deal_ext_desc,
    case when trim(lower(ext)) in ('','null') then null else trim(ext) end as ext,
    case when trim(lower(oaid)) in ('','null') then null else trim(oaid) end as oaid,
    case when trim(lower(order_ext_type)) in ('','null') then null else trim(order_ext_type) end as order_ext_type,
    case when trim(lower(distributor_username)) in ('','null') then null else trim(distributor_username) end as distributor_username,
    buyer_payment,
    case when trim(lower(ten_thousand_group_buy_taobao)) in ('','null') then null else trim(ten_thousand_group_buy_taobao) end as ten_thousand_group_buy_taobao,
    case when trim(lower(seller1_shop)) in ('','null') then null else trim(seller1_shop) end as seller1_shop,
    case when trim(lower(seller1)) in ('','null') then null else trim(seller1) end as seller1,
    case when trim(lower(live_shop)) in ('','null') then null else trim(live_shop) end as live_shop,
    case when trim(lower(live_id)) in ('','null') then null else trim(live_id) end as live_id,
    fx_type,
    case when trim(lower(o_vip_card_no)) in ('','null') then null else trim(o_vip_card_no) end as o_vip_card_no,
    case when trim(lower(seller_shop)) in ('','null') then null else trim(seller_shop) end as seller_shop,
    case when trim(lower(seller)) in ('','null') then null else trim(seller) end as seller,
    order_channel_id,
    case when trim(lower(order_biz_source_id)) in ('','null') then null else trim(order_biz_source_id) end as order_biz_source_id,
    flow_channel,
    case when trim(lower(order_bizsource_id)) in ('','null') then null else trim(order_bizsource_id) end as order_bizsource_id,
    case when trim(lower(trade_from)) in ('','null') then null else trim(trade_from) end as trade_from,
    case when trim(lower(buyer_tel)) in ('','null') then null else trim(buyer_tel) end as buyer_tel,
    case when trim(lower(shop_id)) in ('','null') then null else trim(shop_id) end as shop_id,
    case when trim(lower(is_store_delivery)) in ('','null') then null else trim(is_store_delivery) end as is_store_delivery,
    case when trim(lower(merged_code)) in ('','null') then null else trim(merged_code) end as merged_code,
    case when trim(lower(self_lifting_code)) in ('','null') then null else trim(self_lifting_code) end as self_lifting_code,
    case when trim(lower(site_id)) in ('','null') then null else trim(site_id) end as site_id,
    case when trim(lower(cons_Mobile_Phone_Fuzzy)) in ('','null') then null else trim(cons_Mobile_Phone_Fuzzy) end as cons_Mobile_Phone_Fuzzy,
    case when trim(lower(private_Guider_No)) in ('','null') then null else trim(private_Guider_No) end as private_Guider_No,
    case when trim(lower(private_Guider_Name)) in ('','null') then null else trim(private_Guider_Name) end as private_Guider_Name,
    case when trim(lower(store_number)) in ('','null') then null else trim(store_number) end as store_number,
    case when trim(lower(verify_status)) in ('','null') then null else trim(verify_status) end as verify_status,
    case when trim(lower(logistics_status)) in ('','null') then null else trim(logistics_status) end as logistics_status,
    case when trim(lower(merge_no)) in ('','null') then null else trim(merge_no) end as merge_no,
    case when trim(lower(es_date)) in ('','null') then null else trim(es_date) end as es_date,
    case when trim(lower(dispatcher_mobile)) in ('','null') then null else trim(dispatcher_mobile) end as dispatcher_mobile,
    case when trim(lower(dispatcher_name)) in ('','null') then null else trim(dispatcher_name) end as dispatcher_name,
    data_create_time,
    data_update_time,
    is_check_blacklist,
    abolish_reason,
    stock_version,
    is_promotion,
    case when trim(lower(promotion_no)) in ('','null') then null else trim(promotion_no) end as promotion_no,
    case when trim(lower(customer_id)) in ('','null') then null else trim(customer_id) end as customer_id,
    case when trim(lower(channel_id)) in ('','null') then null else trim(channel_id) end as channel_id,
    case when trim(lower(user_group)) in ('','null') then null else trim(user_group) end as user_group,
    case when trim(lower(delivery_time)) in ('','null') then null else trim(delivery_time) end as delivery_time,
    case when trim(lower(is_crm)) in ('','null') then null else trim(is_crm) end as is_crm,
    case when trim(lower(is_black_card)) in ('','null') then null else trim(is_black_card) end as is_black_card,
    case when trim(lower(is_black_pack)) in ('','null') then null else trim(is_black_pack) end as is_black_pack,
    case when trim(lower(order_transfer_status)) in ('','null') then null else trim(order_transfer_status) end as order_transfer_status,
    case when trim(lower(parent_order_id)) in ('','null') then null else trim(parent_order_id) end as parent_order_id,
    case when trim(lower(store_order)) in ('','null') then null else trim(store_order) end as store_order,
    deposit,
    case when trim(lower(activity_type)) in ('','null') then null else trim(activity_type) end as activity_type,
    case when trim(lower(activity_id)) in ('','null') then null else trim(activity_id) end as activity_id,
    case when trim(lower(smart_BA_flag)) in ('','null') then null else trim(smart_BA_flag) end as smart_BA_flag,
    business_type,
    case when trim(lower(cancel_reason)) in ('','null') then null else trim(cancel_reason) end as cancel_reason,
    case when trim(lower(is_encrypt)) in ('','null') then null else trim(is_encrypt) end as is_encrypt,
    case when trim(lower(is_invoice)) in ('','null') then null else trim(is_invoice) end as is_invoice,
    case when trim(lower(is_receipt)) in ('','null') then null else trim(is_receipt) end as is_receipt,
    super_order_id,
    is_plit,
    case when trim(lower(activity_session)) in ('','null') then null else trim(activity_session) end as activity_session,
    presales_date,
    case when trim(lower(buyer_open_uid)) in ('','null') then null else trim(buyer_open_uid) end as buyer_open_uid,
    is_failed_decryption,
    case when trim(lower(is_need_invoice)) in ('','null') then null else trim(is_need_invoice) end as is_need_invoice,
    case when trim(lower(member_level_name)) in ('','null') then null else trim(member_level_name) end as member_level_name,
    case when trim(lower(front_shop_code)) in ('','null') then null else trim(front_shop_code) end as front_shop_code,
    case when trim(lower(front_order_type)) in ('','null') then null else trim(front_order_type) end as front_order_type,
    case when trim(lower(direct_parent_order_id)) in ('','null') then null else trim(direct_parent_order_id) end as direct_parent_order_id,
    merchant_discount_fee,
    other_discount_fee,
    platform_discount_fee,
    meet_post_fee,
    service_fee,
    entry_amount,
    case when trim(lower(origin_tid)) in ('','null') then null else trim(origin_tid) end as origin_tid,
    pay_subsidies_fee,
    is_greeting,
    case when trim(lower(greeting)) in ('','null') then null else trim(greeting) end as greeting,
    case when trim(lower(encrypt_post_receiver)) in ('','null') then null else trim(encrypt_post_receiver) end as encrypt_post_receiver,
    case when trim(lower(encrypt_post_tel)) in ('','null') then null else trim(encrypt_post_tel) end as encrypt_post_tel,
    case when trim(lower(encrypt_detail)) in ('','null') then null else trim(encrypt_detail) end as encrypt_detail,
    case when trim(lower(ouid)) in ('','null') then null else trim(ouid) end as ouid,
    dt
from stg_oms.OMS_STD_Trade
END
GO
