/****** Object:  StoredProcedure [TEST].[Testing]    Script Date: 2023/6/28 11:31:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [TEST].[Testing] AS
BEGIN
    SELECT 1
END
GO
